<ion-content [fullscreen]="true">
  <div *ngIf="isLoading == true" class="loading-indicator">
    <ion-spinner *ngIf="isLoading == true" name="bubbles"></ion-spinner
    >Loading...
  </div>

  <section class="ob-metar-history">
    <div class="cloud-cover">
      <h1 class="heading6">
        {{name ||kwazulNatal|| (anotherName.startsWith('xl') ?
        anotherName.substring(2) :
        anotherName)||filenameToDisplayName[displayName]}}
      </h1>

      <div class="w-layout-grid metar-history-grid">
        <div class="date-container" *ngIf="TsProbability.length > 1">
          <button
            *ngIf="nextday"
            id="last-day-btn"
            class="button-spacing"
            (click)="previousDay()"
            [disabled]="!nextday"
            [ngClass]="{'disabled-button': !nextday}"
          >
            << Previous Day
          </button>
          <span id="current-date"></span>
          <button
            *ngIf="prevday"
            id="next-day-btn"
            class="button-spacing"
            (click)="nextDay()"
            [disabled]="!prevday"
            [ngClass]="{'disabled-button': !prevday}"
          >
            Next Day >>
          </button>
        </div>
      </div>

      <div class="div-block-15">
        <div>
          <div class="scroll small-m">
            <div>
              <div
                data-delay="4000"
                data-animation="slide"
                class="slider-2 w-slider"
                data-autoplay="false"
                data-easing="ease"
                data-hide-arrows="false"
                data-disable-swipe="false"
                data-autoplay-limit="0"
                data-nav-spacing="3"
                data-duration="500"
                data-infinite="true"
              >
                <div *ngIf="prevday">
                  <img
                    [src]="fileBaseUrlPrevious"
                    loading="lazy"
                    width="100%"
                    height="100%"
                    alt=""
                    class="image"
                  />
                </div>
                <div *ngIf="nextday">
                  <img
                    [src]="fileBaseUrlNext"
                    loading="lazy"
                    width="100%"
                    height="100%"
                    alt=""
                    class="image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottomdiv" style="position: relative; margin-top: 56%">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt
        class="image"
      />

      <div class="footerdiv" id="footerdivid">
        <a
          (click)="Aerosport()"
          class="link-block-5 w-inline-block"
          style="position: relative; top: 0px"
          ><img src="../../assets/Group-4522.svg" loading="lazy" alt />
          <h6 class="heading-10-copy" id="styleh6">BACK</h6></a
        >
      </div>
    </div>
  </section>
</ion-content>
