ion-content {
  --background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;

  .package-header {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
  }

  .metar-history-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .nav-button {
      color: #00386c;
      font-weight: bold;
      text-transform: uppercase;
    }

    .disabled-button {
      color: #ccc;
    }

    .current-date {
      font-size: 14px;
      color: #555;
      text-align: center;

      .rotate-button {
        --background: green;
        --color: white;
      }
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    max-height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin-top: 101px;

    margin-bottom: 10px;
    height: 56vh;
  }

  .responsive-image {
    transition: transform 0.2s ease; /* Smooth transition for scaling */
    max-width: 100%;
    max-height: 100%;
    cursor: zoom-in; /* Default cursor */

    position: relative;
    overflow: auto; /* Enable scrolling */
    width: 100%;
    height: 100%; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-color: white;
    overflow: hidden; /* No scrollbars initially */
    margin: 90px 10px auto; /* Center the container horizontally and add top margin */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* Initially hidden to prevent scroll */
  }

  .responsive-image {
    transition: transform 0.2s right ease, left 0.2s ease, top 0.2s ease,
      bottom 0.2s ease;
    max-width: 100%;
    max-height: 100%;
    cursor: zoom-in; /* Default cursor */
  }

  .zoomable-container {
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footerdiv {
  padding-top: 0;
  z-index: 1000;
}
