<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header class="package-header">
      {{ name || kwazulNatal || (anotherName.startsWith('xl') ? anotherName.substring(2) : anotherName) || filenameToDisplayName[displayName] }}
      <div class="metar-history-grid" *ngIf="TsProbability.length > 1">
        <ion-button fill="clear" class="nav-button" (click)="previousDay()" [disabled]="!nextday" [ngClass]="{ 'disabled-button': !nextday }">
          << Previous Day
        </ion-button>
        <span class="current-date">
          <ion-button expand="full" (click)="rotateImage()" class="rotate-button">
            <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
        </span>
        <ion-button fill="clear" class="nav-button" (click)="nextDay()" [disabled]="!prevday" [ngClass]="{ 'disabled-button': !prevday }">
          Next Day >>
        </ion-button>
      </div>
    </app-package-header>

    <app-package-sub-header></app-package-sub-header>

    <div class="image-container" #imageContainer>
      <div *ngIf="prevday">
        <img
          [style.transform]="'rotate(' + rotationDegree + 'deg)'"
          [src]="fileBaseUrlPrevious"
          loading="lazy"
          class="responsive-image"
          alt="Previous Day Image"
          style="width: auto; height: auto;"
        />
      </div>
      <div *ngIf="nextday">
        <img
          [style.transform]="'rotate(' + rotationDegree + 'deg)'"
          [src]="fileBaseUrlNext"
          loading="lazy"
          class="responsive-image"
          alt="Next Day Image"
          style="width: auto; height: auto;"
        />
      </div>
    </div>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="Aerosport()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy" id="styleh6" style="color: #fff; margin-top: 4px; font-family: Montserrat, sans-serif; text-decoration: none; font-size: 12px;">
      Aerosport
    </h6>
  </div>
</div>
