<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-indicator">
    <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner
    >Loading...
  </div>

<p>
  cloud-forecast works!
</p>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" class="image" />

    <div class="footerdiv" id="footerdivid">
      <a (click)="NavigateToAerosport()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" id="styleh6">
          Aerosport</h6>
      </a>
    </div>
  </div>
</ion-footer>
