<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header class="package-header">
      Metar History For FAOR
    </app-package-header>

    <app-package-sub-header></app-package-sub-header>

    <app-package-list-items>
      <div class="content-wrapper">
        <div
          id="w-node-a3e89a9d-706c-301b-ed7f-a8d1997c22c1-a9068d94"
          class="div-block-15"
        >
          <div class="div-block-14"></div>
        </div>
        <div
          id="w-node-a3e89a9d-706c-301b-ed7f-a8d1997c22ce-a9068d94"
          class="form-block w-form"
        >
          <form
            id="email-form-2"
            name="email-form-2"
            data-name="Email Form 2"
            method="get"
            data-wf-page-id="65c9ee145d072c23a9068d94"
            data-wf-element-id="a3e89a9d-706c-301b-ed7f-a8d1997c22cf"
          >
            <div class="grid-24" style="">
              <div id="w-node-baad291d-2bab-45c3-5004-d7d652581b41-9377a649">
                <label for="" class="field-label">Select Template</label>
                <div
                  data-hover="false"
                  data-delay="0"
                  class="text-field-blue w-dropdown"
                  (click)="selectDropdown('dropdown5')"
                >
                  <div class="w-dropdown-toggle">
                    <div class="icon-2 w-icon-dropdown-toggle" id="icon2"></div>
                    <div class="text-block">{{ selectedOption5 }}</div>
                  </div>
                  <nav class="dropdown-list1" *ngIf="isDropdownOpen5">
                    <div
                      class="w-dropdown-link"
                      (click)="selectOption('', 'dropdown5')"
                    >
                      Link 1
                    </div>
                    <div
                      class="w-dropdown-link"
                      (click)="selectOption('', 'dropdown5')"
                    >
                      Link 2
                    </div>
                    <div
                      class="w-dropdown-link"
                      (click)="selectOption('', 'dropdown5')"
                    >
                      Link 3
                    </div>
                  </nav>
                </div>
              </div>
              <div id="w-node-_9bfb377b-e0d8-05d4-3338-378b893cc2eb-a9068d94">
                <label for="" class="field-label">Plot meteogram</label>

                <div
                  data-hover="false"
                  data-delay="0"
                  class="text-field-blue w-dropdown"
                  (click)="selectDropdown('dropdown11')"
                >
                  <div class="w-dropdown-toggle">
                    <div class="icon-2 w-icon-dropdown-toggle" id="icon2"></div>
                    <div class="text-block">{{ selectedOption11 }}</div>
                  </div>
                  <nav class="dropdown-list1" *ngIf="isDropdownOpen11">
                    <div
                      class="w-dropdown-link"
                      (click)="selectOption('', 'dropdown11')"
                    >
                      Link 1
                    </div>
                    <div
                      class="w-dropdown-link"
                      (click)="selectOption('', 'dropdown11')"
                    >
                      Link 2
                    </div>
                    <div
                      class="w-dropdown-link"
                      (click)="selectOption('', 'dropdown11')"
                    >
                      Link 3
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <div class="div-block-451">
              <div class="w-button" id="button-2">Download</div>
            </div>
          </form>
          <div class="w-form-done">
            <!-- <div>Thank you! Your submission has been received!</div> -->
          </div>
          <div class="w-form-fail">
            <!-- <div>Oops! Something went wrong while submitting the form.</div> -->
          </div>
        </div>
      </div>
      <div class="w-layout-grid grid-6" id="layout">
        <div
          class="ObservScrol"
          style="overflow-y: auto; height: 21em !important"
        >
          <div class="div-block-15">
            <div>
              <div class="">
                <div class="rows-wrap">
                  <div class="table-wrapper">
                    <div class="table-row head">
                      <div class="table-box">
                        <div class="table-heading">Full Name</div>
                      </div>
                      <div class="table-box">
                        <div class="table-heading">Email</div>
                      </div>
                      <div class="table-box">
                        <div class="table-heading">Phone</div>
                      </div>
                      <div class="table-box">
                        <div class="table-heading">Role</div>
                      </div>
                      <div class="table-box _11">
                        <div class="table-heading">Last update</div>
                      </div>
                      <div class="table-box action">
                        <div class="table-heading">Status</div>
                      </div>
                      <div class="table-box action">
                        <div class="table-heading">Action</div>
                      </div>
                    </div>
                    <div class="table-container">
                      <div class="table-data-wrapper">
                        <div class="scroll-container">
                          <div class="scroll-table-content">
                            <div class="table-row head hide">
                              <div class="div-block-406"></div>
                              <div class="table-box">
                                <div class="table-heading">Name</div>
                              </div>
                              <div class="table-box">
                                <div class="table-heading">Email</div>
                              </div>
                              <div class="table-box">
                                <div class="table-heading">Phone</div>
                              </div>
                              <div class="table-box">
                                <div class="table-heading">Country</div>
                              </div>
                              <div class="table-box _11">
                                <div class="table-heading">Last Update</div>
                              </div>
                              <div class="table-box action">
                                <div class="table-heading">Status</div>
                              </div>
                              <div class="table-box action">
                                <div class="table-heading">Action</div>
                              </div>
                            </div>
                            <div class="table-row">
                              <div class="table-box _2">
                                <img
                                  src="../../assets/webclip.png"
                                  width="32"
                                  alt=""
                                  class="image-7"
                                />
                                <div class="table-data name">
                                  Walter A. Price
                                </div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data link">email.com</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">813-200-2741</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">United States</div>
                              </div>
                              <div class="table-box _2 small">
                                <div class="table-data">May 22, 2020</div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-ix="toggle"
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a715288e"
                                  class="togglebutton active w-inline-block"
                                >
                                  <div class="buttontoggle _2"></div>
                                </div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528f5"
                                  class="link-block-12 w-inline-block"
                                >
                                  <img
                                    src="../../assets/close-2.svg"
                                    alt=""
                                    class="table-action-icon"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="table-row">
                              <div class="table-box _2">
                                <img
                                  src="../../assets/webclip.png"
                                  width="32"
                                  alt=""
                                  class="image-7"
                                />
                                <div class="table-data name">
                                  Walter A. Price
                                </div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data link">
                                  wpriceemail.com
                                </div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">813-200-2741</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">United States</div>
                              </div>
                              <div class="table-box _2 small">
                                <div class="table-data">May 22, 2020</div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-ix="toggle"
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528a7"
                                  class="togglebutton active w-inline-block"
                                >
                                  <div class="buttontoggle _2"></div>
                                </div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528f5"
                                  class="link-block-12 w-inline-block"
                                >
                                  <img
                                    src="../../assets/close-2.svg"
                                    alt=""
                                    class="table-action-icon"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="table-row">
                              <div class="table-box _2">
                                <img
                                  src="../../assets/webclip.png"
                                  width="32"
                                  alt=""
                                  class="image-7"
                                />
                                <div class="table-data name">
                                  Walter A. Price
                                </div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data link">
                                  wpriceemail.com
                                </div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">813-200-2741</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">United States</div>
                              </div>
                              <div class="table-box _2 small">
                                <div class="table-data">May 22, 2020</div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-ix="toggle"
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528c0"
                                  class="togglebutton active w-inline-block"
                                >
                                  <div class="buttontoggle _2"></div>
                                </div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528f5"
                                  class="link-block-12 w-inline-block"
                                >
                                  <img
                                    src="../../assets/close-2.svg"
                                    alt=""
                                    class="table-action-icon"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="table-row">
                              <div class="table-box _2">
                                <img
                                  src="../../assets/webclip.png"
                                  width="32"
                                  alt=""
                                  class="image-7"
                                />
                                <div class="table-data name">John Smith</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data link">
                                  jsmithemail.com
                                </div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">813-200-2741</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">United Kingdom</div>
                              </div>
                              <div class="table-box _2 small">
                                <div class="table-data">May 16, 2020</div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-ix="toggle"
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528d9"
                                  class="togglebutton active w-inline-block"
                                >
                                  <div class="buttontoggle _2"></div>
                                </div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528f5"
                                  class="link-block-12 w-inline-block"
                                >
                                  <img
                                    src="../../assets/close-2.svg"
                                    alt=""
                                    class="table-action-icon"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="table-row">
                              <div class="table-box _2">
                                <img
                                  src="../../assets/webclip.png"
                                  width="32"
                                  alt=""
                                  class="image-7"
                                />
                                <div class="table-data name">Bianca Rossi</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data link">
                                  brossiemail.com
                                </div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">813-200-2741</div>
                              </div>
                              <div class="table-box _2">
                                <div class="table-data">Italy</div>
                              </div>
                              <div class="table-box _2 small">
                                <div class="table-data">May 04, 2020</div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-ix="toggle"
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528f2"
                                  class="togglebutton w-inline-block"
                                >
                                  <div class="buttontoggle"></div>
                                </div>
                              </div>
                              <div class="table-box _2 action">
                                <div
                                  data-w-id="ed5455b6-c8e4-85d0-85ac-7d98a71528f5"
                                  class="link-block-12 w-inline-block"
                                >
                                  <img
                                    src="../../assets/close-2.svg"
                                    alt=""
                                    class="table-action-icon"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>
<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="navigateToObservation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Observation
    </h6>
  </div>
</div>
