<ion-content>
  <div *ngIf="isLoading" class="loading-indicator"><ion-spinner *ngIf="isLoading"
      name="bubbles"></ion-spinner>Loading...</div>

  <section class="list-page">
    <div class="tafs-div">
      <h1 class="heading-6" id="colorcoded">Color coded :SIGMENT/AIRMET</h1>

      <div class="w-layout-grid grid-6" id="layout">
        <div id="w-node-e7ec9294-4182-a125-c428-84c8c81f6e70-5aa24fea" class="w-layout-grid grid-cct-copy">
          <div id="w-node-_211f6e7f-4ab3-965d-1518-9c1f84dfceec-5aa24fea" class="cct">
            <h1 class="heading-7">Date :</h1>
            <h1 class="heading-8">2024 - 01 - 22</h1>
          </div>
          <div id="w-node-_2ef88a37-3b9e-7fec-658a-a6f84d594d57-5aa24fea" class="cct">
            <h1 class="heading-7">Time :</h1>
            <h1 class="heading-8">13:15:45</h1>
          </div>
        </div>
        <div style="margin-left: 17px; margin-top: -22px;">
          <h5 class="heading-9" id="searchHeader" style="position: relative;
          top: 19px;">Query TAFs</h5>
          <form action="/search" class="search w-form">
            <input class="search-input w-input" maxlength="256" name="query" placeholder="Search…" type="search"
              id="searchValue" (keypress)="filterNosearchValue()" /><button type="submit" class="search-button w-button"
              (click)="filterbySearch($event)">Search</button>
          </form>
        </div>
        <div class="ObservScrol">
          <div id="w-node-f5bb06e8-f72c-b502-4775-b999902099d0-5aa24fea" class="div-block-14-copy">

          </div>

          <button class="top" style="display: none;" disabled="true" id="scrollT"></button>
          <section class="tafs-div" *ngFor="let sigmet of SigmetList">
            <div>
              <h1 class="heading-21" id="head12">{{sigmet.heading}}</h1>

            </div>

            <div>
              <h1 class="heading-6" id="headin6">{{sigmet.lastmodified | date:
                "yyyy/MM/dd HH:mm"}}</h1>
              <span style="white-space: collapse; font-size: 11px;">
                {{sigmet.filetextcontent}}
              </span>

            </div>

            <hr>
          </section>
        </div>
        <button (click)="ScrollToTop('w-node-f5bb06e8-f72c-b502-4775-b999902099d0-5aa24fea')" id="btntotop"
          title="Go to top">Top</button>
      </div>

      <div class="bottomdiv" style="position: relative;">
        <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt class="image" />

        <div class="footerdiv" id="footerdivid" style="position: relative !important;
        top: 16px !important;">
          <div (click)="forecastPage()" class="link-block-5 w-inline-block" style="position: relative; top: -11px"><img
              src="../../assets/Group-4522.svg" loading="lazy" alt />
            <h6 class="heading-10-copy" id="styleh6">Forecast</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>