<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <app-auth-content>
    <app-auth-logo *ngIf="!isKeyboardVisible">
      <img
        src="/assets/Mask-Group-33x.png"
        loading="lazy"
        width="212"
        alt=""
        class="mobile-images"
      />
    </app-auth-logo>

    <!-- <div [ngClass]="{'keyboardopen': isKeyboardVisible}"></div> -->

    <app-auth-form>
      <div #userFormRef class="login-for" [ngStyle]="{'margin-top.px': isKeyboardVisible ? 30 : -18}">
        <h2 class="login">LOGIN</h2>

        <div class="w-form" #content >
          <form
            #userFormRef
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            id="email-form"
            name="email-form"
          >
            <div class="w-layout-grid grid-2">
              <div id="w-node-b12f6374-1320-16d1-1054-374cc200f0b3-6fb9ee30">
                <label for="name" class="field-label">Username</label>
                <input
                  class="text-field w-input"
                  maxlength="256"
                  name="name"
                  placeholder="Type your username"
                  type="text"
                  id="name"
                  required=""
                  formControlName="username"
                />
                <div
                  *ngIf="loginForm.get('username')?.invalid && submitted"
                  class="error-message"
                >
                  Username is required.
                </div>
              </div>

              <div id="w-node-ccdda937-ce5c-ac70-b522-fdf10dd22378-6fb9ee30">
                <!-- Password Field with Toggle Eye Icon -->
                <label for="field" class="field-label-2">Password</label>
                <div class="password-container">
                  <input
                    class="text-field w-input"
                    maxlength="256"
                    name="field"
                    placeholder="Type your Password"
                    [type]="showPassword ? 'text' : 'password'"
                    id="field"
                    required=""
                    formControlName="password"
                  />
                  <ion-icon
                    [attr.name]="showPassword ? 'eye-off' : 'eye'"
                    class="toggle-password"
                    (click)="togglePasswordVisibility()"
                  ></ion-icon>
                  <div
                    *ngIf="loginForm.get('password')?.invalid && submitted"
                    class="error-message"
                  >
                    Password is required.
                  </div>
                </div>

                <!-- Error Message -->
                <div *ngIf="errorMessage" class="error-message">
                  {{ errorMessage }}
                </div>
              </div>
            </div>
            <div class="w-layout-grid grid">
              <div class="div-block-4">
                <div
                  (click)="forgortPassword()"
                  class="forgotpassword"
                  style="white-space: nowrap"
                >
                  Forgot Password
                </div>
              </div>
            </div>
            <div class="div-block-6">
              <input
                type="submit"
                class="submit-button w-button"
                value="Login"
              />
            </div>
          </form>
        </div>
        <div class="link-block-2 w-inline-block">
          <div class="createlinktext">
            <h5>
              Need an account?
              <a (click)="register()" class="linkspace">Create account</a>
            </h5>
          </div>
        </div>
      </div>
    </app-auth-form>
  </app-auth-content>
</ion-content>

<app-footer *ngIf="!isKeyboardVisible"></app-footer>

<div class="footerdiv" *ngIf="!isKeyboardVisible">
  <div (click)="home()" class="link-block-5 w-inline-block">
    <img src="./../../../assets/Group-3489.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      style="color: #fff; font-size: 12px; margin-top: 4px"
    >
      Home
    </h6>
  </div>
</div>
