.w-button {
  width: 100%;
}
.password-container {
  position: relative;
  width: 100%;
}

.text-field {
  width: 100%;
  padding-right: 40px; /* Adds space for the eye icon */
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.toggle-password i {
  font-size: 20px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .toggle-password i {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .toggle-password i {
    font-size: 16px;
  }
}
.login-for {
  width: 80vw;
}
/* When keyboard is visible */
.keyboardopen {
  margin-bottom: 0; /* Remove unnecessary bottom margin */
  padding-bottom: 0; /* Remove unnecessary padding */
}

/* Default margin for non-keyboard state */
ion-content {
  margin-bottom: 56px; /* Adjust as needed for footer or other elements */
  --padding-bottom: 0;
}

.login-for{
  width: 80vw;

  height: 42vh;

  align-items: center;

  align-content: center;

}