.div-block-5 {
  justify-content: center;
  align-items: center;
  margin-top: -78px;
  display: flex;
}
.linkspace {
  margin-left: 4px;
}

.footerdiv {
  padding-top: 0;
  z-index: 1000;
}

// #mainsection{
//   overflow-y: clip !important;
//   overscroll-behavior-y: none !important;
// }
.fas {
  position: absolute;
  right: 37px;
  margin-top: -23px;
  transform: translateY(-50%);
  cursor: pointer;
}
.custom-content {
  --ion-background-color: #ffffff; /* Set background color */
  --ion-text-color: #000000; /* Set text color */
}

.custom-content.dark {
  --ion-background-color: #ffffff; /* Set background color for dark mode */
  --ion-text-color: #121212; /* Set text color for dark mode */
}
.w-checkbox-input {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  color: #00386c;
}

/* Checkbox label styling */
.checkbox-label {
  font-size: 14px;
  color: #00386c;
}
/* Default styles for all screen sizes */

/* Styles for small devices (phones) */
@media only screen and (max-width: 600px) {
  .div-block-5 {
    justify-content: center;
    align-items: center;
    margin-top: -78px;
    display: flex;
  }
  .linkspace {
    margin-left: 4px;
  }
  // #mainsection{
  //   overflow-y: clip !important;
  //   overscroll-behavior-y: none !important;
  // }
  .fas {
    position: absolute;
    right: 37px;
    margin-top: -23px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .custom-content {
    --ion-background-color: #ffffff; /* Set background color */
    --ion-text-color: #000000; /* Set text color */
  }

  .custom-content.dark {
    --ion-background-color: #ffffff; /* Set background color for dark mode */
    --ion-text-color: #121212; /* Set text color for dark mode */
  }
  .w-checkbox-input {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    color: #00386c;
  }

  /* Checkbox label styling */
  .checkbox-label {
    font-size: 14px;
    color: #00386c;
  }
}

/* Styles for medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .div-block-5 {
    justify-content: center;
    align-items: center;
    margin-top: -78px;
    display: flex;
  }
  .linkspace {
    margin-left: 4px;
  }
  // #mainsection{
  //   overflow-y: clip !important;
  //   overscroll-behavior-y: none !important;
  // }
  .fas {
    position: absolute;
    right: 233px;
    margin-top: -23px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .submit-button {
    width: 41vw;
    color: #ffffff;
  }
  .custom-content {
    --ion-background-color: #ffffff; /* Set background color */
    --ion-text-color: #000000; /* Set text color */
  }

  .custom-content.dark {
    --ion-background-color: #ffffff; /* Set background color for dark mode */
    --ion-text-color: #121212; /* Set text color for dark mode */
  }
  .w-checkbox-input {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    color: #00386c;
  }

  /* Checkbox label styling */
  .checkbox-label {
    font-size: 14px;
    color: #00386c;
  }
}

/* Styles for large devices (desktops/laptops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .div-block-5 {
    justify-content: center;
    align-items: center;
    margin-top: -78px;
    display: flex;
  }
  .linkspace {
    margin-left: 4px;
  }
  .submit-button {
    width: 41vw;
    color: #ffffff;
  }
  // #mainsection{
  //   overflow-y: clip !important;
  //   overscroll-behavior-y: none !important;
  // }
  .fas {
    position: absolute;
    right: 249px;
    margin-top: -23px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .custom-content {
    --ion-background-color: #ffffff; /* Set background color */
    --ion-text-color: #000000; /* Set text color */
  }

  .custom-content.dark {
    --ion-background-color: #ffffff; /* Set background color for dark mode */
    --ion-text-color: #121212; /* Set text color for dark mode */
  }
  .w-checkbox-input {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    color: #00386c;
  }

  /* Checkbox label styling */
  .checkbox-label {
    font-size: 14px;
    color: #00386c;
  }
}

/* Styles for extra large devices (large desktops) */
@media only screen and (min-width: 993px) {
  .div-block-5 {
    justify-content: center;
    align-items: center;
    margin-top: -78px;
    display: flex;
  }
  .linkspace {
    margin-left: 4px;
  }
  .submit-button {
    width: 41vw;
    color: #ffffff;
  }
  // #mainsection{
  //   overflow-y: clip !important;
  //   overscroll-behavior-y: none !important;
  // }
  .fas {
    position: absolute;
    right: 233px;
    margin-top: -23px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .custom-content {
    --ion-background-color: #ffffff; /* Set background color */
    --ion-text-color: #000000; /* Set text color */
  }

  .custom-content.dark {
    --ion-background-color: #ffffff; /* Set background color for dark mode */
    --ion-text-color: #121212; /* Set text color for dark mode */
  }
  .w-checkbox-input {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    color: #00386c;
  }

  /* Checkbox label styling */
  .checkbox-label {
    font-size: 14px;
    color: #00386c;
  }
}

/* Styles for iPhone X (375px x 812px) */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-top: 158px;
  }
  .div-block-5 {
    justify-content: center;
    align-items: center;
    margin-top: -78px;
    display: flex;
  }
  .linkspace {
    margin-left: 4px;
  }
  .submit-button {
    width: 41vw;
    color: #ffffff;
  }
  // #mainsection{
  //   overflow-y: clip !important;
  //   overscroll-behavior-y: none !important;
  // }
  .fas {
    position: absolute;
    right: 37px;
    margin-top: -23px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .custom-content {
    --ion-background-color: #ffffff; /* Set background color */
    --ion-text-color: #000000; /* Set text color */
  }

  .custom-content.dark {
    --ion-background-color: #ffffff; /* Set background color for dark mode */
    --ion-text-color: #121212; /* Set text color for dark mode */
  }
  .w-checkbox-input {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    color: #00386c;
  }

  /* Checkbox label styling */
  .checkbox-label {
    font-size: 14px;
    color: #00386c;
  }
  .section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-top: 131px;
  }
}
