<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header>Forecast Winds</app-package-header>

    <app-package-sub-header>Winds are available from 12 to 48 hours in advance. </app-package-sub-header>

    <app-package-list-items>
      <div class="div-block-2">
        <img
          src="images/Path-3452.svg"
          loading="lazy"
          width="1216"
          alt=""
          class="image"
        />
      </div>
    
      <div class="scrollclass">
        <div class="wind-charts-div">
          <div class="div-block-473">
            <h1 class="sub-headings-wind">
             
            </h1>
          </div>
          <div class="div-block-473">
            <div class="div-blue-copy"></div>
          </div>
  
          <div class="w-layout-grid wind-grid-charts" id="chats">
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c35-0a6d0ed0"
              class="div-block-35"
            >
              <div
                id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c36-0a6d0ed0"
                class="w-layout-grid grid-21"
                id="grid121"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c37-0a6d0ed0"
                  class="div-block-36"
                  id="node1"
                >
                  <h4 class="heading-24" id="block">
                    Block Format FL010 to FL240
                  </h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3a-0a6d0ed0"
                  class="div-block-36"
                >
                  <h4 class="heading-24" id="heading224">View Image</h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3d-0a6d0ed0"
                  class="div-block-36"
                ></div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3e-0a6d0ed0"
                  class="div-block-36"
                ></div>
              </div>
            </div>
  
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c6f-0a6d0ed0"
              class="div-block-455"
            >
              <div
                class="w-layout-grid grid-22"
                *ngFor="let chart of chartsArray; let i = index"
                [ngClass]="i % 2 === 0 ? 'div-block-455' : 'div-block-38'"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c71-0a6d0ed0"
                  class="div-block-37"
                >
                  <h4 class="heading-25">{{ removefile(chart.filename) }}</h4>
                </div>
  
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c74-0a6d0ed0"
                  class="div-block-37"
                >
                  <div
                    class="button-2-copy w-button"
                    id="view"
                    (click)="ImagesArray(chart,chartsArray)"
                  >
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="w-layout-grid wind-grid-charts" id="chats">
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c35-0a6d0ed0"
              class="div-block-35"
            >
              <div
                id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c36-0a6d0ed0"
                class="w-layout-grid grid-21"
                id="grid121"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c37-0a6d0ed0"
                  class="div-block-36"
                  id="node1"
                >
                  <h4 class="heading-24" id="block">
                    Block Format FL210 to FL450
                  </h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3a-0a6d0ed0"
                  class="div-block-36"
                >
                  <h4 class="heading-24" id="heading224">View Image</h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3d-0a6d0ed0"
                  class="div-block-36"
                ></div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3e-0a6d0ed0"
                  class="div-block-36"
                ></div>
              </div>
            </div>
  
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c6f-0a6d0ed0"
              class="div-block-455"
            >
              <div
                class="w-layout-grid grid-22"
                *ngFor="let chart of chartsArray; let i = index"
                [ngClass]="i % 2 === 0 ? 'div-block-455' : 'div-block-38'"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c71-0a6d0ed0"
                  class="div-block-37"
                >
                  <h4 class="heading-25">{{ removefile(chart.filename) }}</h4>
                </div>
  
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c74-0a6d0ed0"
                  class="div-block-37"
                >
                  <div
                    class="button-2-copy w-button"
                    id="view"
                    (click)="ImagesArray(chart,chartsArray)"
       
                  >
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="w-layout-grid wind-grid-charts" id="chats">
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c35-0a6d0ed0"
              class="div-block-35"
            >
              <div
                id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c36-0a6d0ed0"
                class="w-layout-grid grid-21"
                id="grid121"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c37-0a6d0ed0"
                  class="div-block-36"
                  id="node1"
                >
                  <h4 class="heading-24" id="block">
                    Barb Format FL010 to FL150
                  </h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3a-0a6d0ed0"
                  class="div-block-36"
                >
                  <h4 class="heading-24" id="heading224">View Image</h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3d-0a6d0ed0"
                  class="div-block-36"
                ></div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3e-0a6d0ed0"
                  class="div-block-36"
                ></div>
              </div>
            </div>
  
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c6f-0a6d0ed0"
              class="div-block-455"
            >
              <div
                class="w-layout-grid grid-22"
                *ngFor="let chart of chartsArray; let i = index"
                [ngClass]="i % 2 === 0 ? 'div-block-455' : 'div-block-38'"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c71-0a6d0ed0"
                  class="div-block-37"
                >
                  <h4 class="heading-25">{{ removefile(chart.filename) }}</h4>
                </div>
  
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c74-0a6d0ed0"
                  class="div-block-37"
                >
                  <div
                    class="button-2-copy w-button"
                    id="view"
                    (click)="ImagesArray(chart,chartsArray)"
                  >
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="w-layout-grid wind-grid-charts" id="chats">
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c35-0a6d0ed0"
              class="div-block-35"
            >
              <div
                id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c36-0a6d0ed0"
                class="w-layout-grid grid-21"
                id="grid121"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c37-0a6d0ed0"
                  class="div-block-36"
                  id="node1"
                >
                  <h4 class="heading-24" id="block">
                    Barb Format FL150 to FL450
                  </h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3a-0a6d0ed0"
                  class="div-block-36"
                >
                  <h4 class="heading-24" id="heading224">View Image</h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3d-0a6d0ed0"
                  class="div-block-36"
                ></div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3e-0a6d0ed0"
                  class="div-block-36"
                ></div>
              </div>
            </div>
  
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c6f-0a6d0ed0"
              class="div-block-455"
            >
              <div
                class="w-layout-grid grid-22"
                *ngFor="let chart of chartsArray; let i = index"
                [ngClass]="i % 2 === 0 ? 'div-block-455' : 'div-block-38'"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c71-0a6d0ed0"
                  class="div-block-37"
                >
                  <h4 class="heading-25">{{ removefile(chart.filename) }}</h4>
                </div>
  
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c74-0a6d0ed0"
                  class="div-block-37"
                >
                  <div
                    class="button-2-copy w-button"
                    id="view"
                    (click)="ImagesArray(chart,chartsArray)"
                  >
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="w-layout-grid wind-grid-charts" id="chats">
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c35-0a6d0ed0"
              class="div-block-35"
            >
              <div
                id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c36-0a6d0ed0"
                class="w-layout-grid grid-21"
                id="grid121"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c37-0a6d0ed0"
                  class="div-block-36"
                  id="node1"
                >
                  <h4 class="heading-24" id="block">
                    Barb Format All level scroll  
                  </h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3a-0a6d0ed0"
                  class="div-block-36"
                >
                  <h4 class="heading-24" id="heading224">View Image</h4>
                </div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3d-0a6d0ed0"
                  class="div-block-36"
                ></div>
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3e-0a6d0ed0"
                  class="div-block-36"
                ></div>
              </div>
            </div>
  
            <div
              id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c6f-0a6d0ed0"
              class="div-block-455"
            >
              <div
                class="w-layout-grid grid-22"
                *ngFor="let chart of chartsArray; let i = index"
                [ngClass]="i % 2 === 0 ? 'div-block-455' : 'div-block-38'"
              >
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c71-0a6d0ed0"
                  class="div-block-37"
                >
                  <h4 class="heading-25">{{ removefile(chart.filename) }}</h4>
                </div>
  
                <div
                  id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c74-0a6d0ed0"
                  class="div-block-37"
                >
                  <div
                    class="button-2-copy w-button"
                    id="view"
                    (click)="ImagesArray(chart,chartsArray)"
                  >
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToDomestic()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Domestic
    </h6>
  </div>
</div>

