<ion-content [fullscreen]="true">

  <div *ngIf="isLoading" class="loading-indicator">
    <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>
    Loading...
  </div>

  <section class="wind-charts" style="margin-top: 107px !important">
    <div class="div-block-2">
      <img src="images/Path-3452.svg" loading="lazy" width="1216" alt="" class="image" />
    </div>
    <h1 class="heading-6">Forecast Winds</h1>
    <div style="overflow-y: auto; height: 32em">
      <div class="wind-charts-div">
        <div class="div-block-473">
          <h1 class="sub-headings-wind">
            <strong>Winds are available from 12 to 48 hours in advance.</strong>
          </h1>
        </div>
        <div class="div-block-473">
          <div class="div-blue-copy"></div>
        </div>
        <div class="w-layout-grid wind-grid-charts" id="chats">
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c35-0a6d0ed0" class="div-block-35">
            <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c36-0a6d0ed0" class="w-layout-grid grid-21" id="grid121">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c37-0a6d0ed0" class="div-block-36" id="node1">
                <h4 class="heading-24" id="block">
                  Block Format FL010 to FL240
                </h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3a-0a6d0ed0" class="div-block-36">
                <h4 class="heading-24" id="heading224">View Image</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3d-0a6d0ed0" class="div-block-36"></div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3e-0a6d0ed0" class="div-block-36"></div>
            </div>
          </div>
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c3f-0a6d0ed0" class="div-block-452">
            <div class="w-layout-grid grid-22">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c41-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">12</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c44-0a6d0ed0" class="div-block-37">
                <div class="button-2-copy w-button" id="view">View</div>
              </div>
            </div>
          </div>
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c47-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c49-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">18</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c4c-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c4f-0a6d0ed0" class="div-block-453">
            <div class="w-layout-grid grid-22">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c51-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">24</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c54-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c57-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c59-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">30</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c5c-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c5f-0a6d0ed0" class="div-block-454">
            <div class="w-layout-grid grid-22">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c61-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">36</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c64-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c67-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c69-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">42</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c6c-0a6d0ed0" class="div-block-37">
                <div class="button-2-copy w-button" id="view">View</div>
              </div>
            </div>
          </div>
          <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c6f-0a6d0ed0" class="div-block-455">
            <div class="w-layout-grid grid-22">
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c71-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">48</h4>
              </div>
              <div id="w-node-c90e3967-8beb-285d-326e-61e0c14b7c74-0a6d0ed0" class="div-block-37">
                <div class="button-2-copy w-button" id="view">View</div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid wind-grid-charts" id="chats">
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243ac-0a6d0ed0" class="div-block-35">
            <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243ad-0a6d0ed0" class="w-layout-grid grid-21" id="grid121">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243ae-0a6d0ed0" class="div-block-36" id="node1">
                <h4 class="heading-24" id="block">
                  Block Format FL210 to FL450
                </h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243b1-0a6d0ed0" class="div-block-36">
                <h4 class="heading-24" id="heading224">View Image</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243b4-0a6d0ed0" class="div-block-36"></div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243b5-0a6d0ed0" class="div-block-36"></div>
            </div>
          </div>
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243b6-0a6d0ed0" class="div-block-452">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243b8-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">12</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243bb-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243be-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243c0-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">18</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243c3-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243c6-0a6d0ed0" class="div-block-453">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243c8-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">24</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243cb-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243ce-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243d0-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">30</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243d3-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243d6-0a6d0ed0" class="div-block-454">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243d8-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">36</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243db-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243de-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243e0-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">42</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243e3-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243e6-0a6d0ed0" class="div-block-455">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243e8-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">48</h4>
              </div>
              <div id="w-node-_6da04f4d-99d0-7067-b701-47edeca243eb-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid wind-grid-charts" id="chats">
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995a0-0a6d0ed0" class="div-block-35">
            <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995a1-0a6d0ed0" class="w-layout-grid grid-21" id="grid121">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995a2-0a6d0ed0" class="div-block-36" id="node1">
                <h4 class="heading-24" id="block">
                  Barb Format FL010 to FL150
                </h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995a5-0a6d0ed0" class="div-block-36">
                <h4 class="heading-24" id="heading224">View Image</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995a8-0a6d0ed0" class="div-block-36"></div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995a9-0a6d0ed0" class="div-block-36"></div>
            </div>
          </div>
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995aa-0a6d0ed0" class="div-block-452">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995ac-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">12</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995af-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995b2-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995b4-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">18</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995b7-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995ba-0a6d0ed0" class="div-block-453">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995bc-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">24</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995bf-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995c2-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995c4-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">30</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995c7-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995ca-0a6d0ed0" class="div-block-454">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995cc-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">36</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995cf-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995d2-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995d4-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">42</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995d7-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995da-0a6d0ed0" class="div-block-455">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995dc-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">48</h4>
              </div>
              <div id="w-node-_349b6372-eb56-f0a3-acba-fb645a8995df-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid wind-grid-charts" id="chats">
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0a9b-0a6d0ed0" class="div-block-35">
            <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0a9c-0a6d0ed0" class="w-layout-grid grid-21" id="grid121">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0a9d-0a6d0ed0" class="div-block-36" id="node1">
                <h4 class="heading-24" id="block">
                  Barb Format FL150 to FL450
                </h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aa0-0a6d0ed0" class="div-block-36">
                <h4 class="heading-24" id="heading224">View Image</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aa3-0a6d0ed0" class="div-block-36"></div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aa4-0a6d0ed0" class="div-block-36"></div>
            </div>
          </div>
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aa5-0a6d0ed0" class="div-block-452">
            <div class="w-layout-grid grid-22">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aa7-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">12</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aaa-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aad-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aaf-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">18</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ab2-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ab5-0a6d0ed0" class="div-block-453">
            <div class="w-layout-grid grid-22">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ab7-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">24</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aba-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0abd-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0abf-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">30</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ac2-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ac5-0a6d0ed0" class="div-block-454">
            <div class="w-layout-grid grid-22">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ac7-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">36</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0aca-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0acd-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0acf-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">42</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ad2-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ad5-0a6d0ed0" class="div-block-455">
            <div class="w-layout-grid grid-22">
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ad7-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">48</h4>
              </div>
              <div id="w-node-fd96d34a-52ab-843d-17fc-8e7919bc0ada-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid wind-grid-charts" id="chats">
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfd2-0a6d0ed0" class="div-block-35">
            <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfd3-0a6d0ed0" class="w-layout-grid grid-21" id="grid121">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfd4-0a6d0ed0" class="div-block-36" id="node1">
                <h4 class="heading-24" id="block">
                  Barb Format All level scroll  
                </h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfd7-0a6d0ed0" class="div-block-36">
                <h4 class="heading-24" id="heading224">View Image</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfda-0a6d0ed0" class="div-block-36"></div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfdb-0a6d0ed0" class="div-block-36"></div>
            </div>
          </div>
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfdc-0a6d0ed0" class="div-block-452">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfde-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">12</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfe1-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfe4-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfe6-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">18</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfe9-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfec-0a6d0ed0" class="div-block-453">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdfee-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">24</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdff1-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdff4-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdff6-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">30</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdff9-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdffc-0a6d0ed0" class="div-block-454">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfdffe-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">36</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfe001-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfe004-0a6d0ed0" class="div-block-38">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfe006-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">42</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfe009-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View </a>
              </div>
            </div>
          </div>
          <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfe00c-0a6d0ed0" class="div-block-455">
            <div class="w-layout-grid grid-22">
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfe00e-0a6d0ed0" class="div-block-37">
                <h4 class="heading-25">48</h4>
              </div>
              <div id="w-node-_131bd4af-4e6e-e3b0-4329-8e9a4acfe011-0a6d0ed0" class="div-block-37">
                <a href="#" class="button-2-copy w-button" id="view">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" class="image" />

    <div class="footerdiv" id="footerdivid1">
      <div (click)=" NavigateToDomestic()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" id="styleh6" style="color: #fff;
             margin-top: 10px;
             margin-bottom: 0;
             font-family: Montserrat, sans-serif;
             text-decoration: none;
             font-size: 12px;
             margin-top: 4px;">
          Domestic
        </h6>
      </div>
    </div>
  </div>
</ion-footer>