<ion-content>
  <!-- <app-loading *ngIf="loading"></app-loading> -->
  <app-service-content>
    <app-service-header> Domestic </app-service-header>

    <app-service-list-items *ngIf="isLoggedIn && !isFreeSubscription">
      <app-service-list-items-grid>
        <app-service-list-item (click)="NavigateToFlightDocument()">
          Flight Document
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToHourlyCharts()">
          Hourly Charts
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToIcaoLocations()">
          ICAO Locations
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToMetarMaps()">
          METAR Maps
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToQnhChart()">
          QNH Chart
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToSIGWXCharts()">
          SIGWX Charts
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToTakeOffData()">
          Take-off Data
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToWarnings()">
          Warnings
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToWindsCharts()">
          Winds Charts
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToLowLevelWindProfile()">
          Low-level Wind Profile for Upper Air stations
        </app-service-list-item>
      </app-service-list-items-grid>
    </app-service-list-items>
  </app-service-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv">
  <a
    (click)="NavigateToLandingPage()"
    class="link-block-5 w-inline-block"
    style="position: relative; top: -11px"
    ><img src="../../assets/Group-3489.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      style="
        color: #fff;
        margin-top: 9px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    ></h6>
  </a>
</div>
