<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header>
      TAF Accuracy
    </app-package-header>

    <app-package-sub-header>
      <h1 class="heading-23">Select a station and a date range to <br>compare TAFs against</h1>
    </app-package-sub-header>

    <app-package-list-items>
      <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fc5-114c6fed" class="form-block w-form">
        <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form-2"
          data-wf-page-id="65c1ef43a3df449d114c6fed" data-wf-element-id="2ca2f74b-8aee-afe7-9c15-ec0b84c48fc6">
          <div class="w-layout-grid grid-24-copy">
            <!-- <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fc8-114c6fed" class="div-block-41"><label for="field-2"
                class="field-label">Station</label>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="text-field-blue w-dropdown-toggle">
                  <div class="icon-3 w-icon-dropdown-toggle"></div>
                  <div class="text-block-2">Select Station</div>
                </div>
                <nav class="w-dropdown-list">
                  <a class="w-dropdown-link">Link 1</a>
                </nav>
              </div>
            </div> -->

            <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fc8-114c6fed">
              <label for="field-1" class="field-label">
                Select Station
              </label>
              <select id="field-1" name="field-1" data-name="Field 1" class="text-field-blue w-select">
                <option value="">Select Station</option>
                <option value="First">Link 1</option>
                <option value="First">Link 2</option>
                <option value="First">Link 3</option>
              </select>
            </div>

            <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fcc-114c6fed">
              <label for="field-2" class="field-label">
                Select Weather Type
              </label>
              <select id="field-2" name="field-2" data-name="Field 2" class="text-field-blue w-select">
                <option value="">Select Weather Type</option>
                <option value="First">First choice</option>
                <option value="First">Second choice</option>
                <option value="First">Third choice</option>
              </select>
            </div>

            <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fcc-114c6fed">
              <label for="field-3" class="field-label">
                Select Start and End Date
              </label>
              <select id="field-3" name="field-3" data-name="Field 3" class="text-field-blue w-select">
                <option value="">Select date from - To</option>
                <option value="First">Date 1</option>
                <option value="First">Date 2</option>
                <option value="First">Date 3</option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fe7-114c6fed">
        <div class="w-form">
          <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
            data-wf-page-id="65c1ef43a3df449d114c6fed" data-wf-element-id="2ca2f74b-8aee-afe7-9c15-ec0b84c48fef">
            <div class="w-layout-grid grid-25">
              <!-- <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48ff1-114c6fed"><label for="" class="field-label">Select
                  Start Time</label>
                <div data-hover="false" data-delay="0" class="text-field w-dropdown">
                  <div class="w-dropdown-toggle">
                    <div class="icon-2 w-icon-dropdown-toggle"></div>
                    <div class="text-block">00:00</div>
                  </div>
                  <nav class="dropdown-list w-dropdown-list">
                    <a class="w-dropdown-link">01:00</a>
                    <a class="w-dropdown-link">02:00</a>
                    <a class="w-dropdown-link">03:00</a>
                    <a class="w-dropdown-link">04:00</a>
                  </nav>
                </div>
              </div> -->


              <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fcc-114c6fed">
                <label for="field-4" class="field-label">
                  Select Start Time
                </label>
                <select id="field-4" name="field-4" data-name="Field 4" class="text-field w-select">
                  <option value="">Select Start Time</option>
                  <option value="First">01:00</option>
                  <option value="First">02:00</option>
                  <option value="First">03:00</option>
                </select>
              </div>

              <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fcc-114c6fed">
                <label for="field-5" class="field-label">
                  Select End Time
                </label>
                <select id="field-5" name="field-5" data-name="Field 5" class="text-field w-select">
                  <option value="">Select End Time</option>
                  <option value="First">01:00</option>
                  <option value="First">02:00</option>
                  <option value="First">03:00</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="w-node-b2360b30-aa39-6664-66a0-7a26e6b1f321-114c6fed" class="div-block-42">
        <a id="w-node-_31b8338b-56e3-fc52-e6c1-c63d2f714c41-114c6fed" href="#" class="button-2-copy-copy w-button">
          View Accuracy
        </a>
      </div>

      <div id="w-node-ddd33460-cf76-75fd-0c26-f88d6f51d2d8-114c6fed" class="w-layout-blockcontainer w-container"><img
          src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy"
          width="687" alt=""></div>
      <div id="w-node-_3138f03a-958e-bfd0-7aae-6103597a6919-114c6fed" class="div-block-42">
        <a id="w-node-_3138f03a-958e-bfd0-7aae-6103597a691a-114c6fed" href="#" class="button-2-copy-copy w-button">
          Download graph
        </a>
        <a class="button-2-copy-copy w-button">
          Legend / Key
        </a>
      </div>

    </app-package-list-items>

  </app-package-content>

</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)=" forecastPageNavigation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy" id="styleh6" style="color: #fff;
         margin-top: 10px;
         margin-bottom: 0;
         font-family: Montserrat, sans-serif;
         text-decoration: none;
         font-size: 12px;
         margin-top: 4px;">
      Forecast
    </h6>
  </div>
</div>

<button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button>