<button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button>

<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header> TAF Accuracy </app-package-header>

    <app-package-sub-header>
      <h1 class="heading-23">
        Select a station and a date range to <br />compare TAFs against
      </h1>
    </app-package-sub-header>

    <app-package-list-items>
      <!-- Dropdowns -->
      <form>
        <label for="field-1">Select Station</label>
        <select id="field-1" name="field-1" class="text-field-blue w-select">
          <option value="">Select Station</option>
          <option value="First">Link 1</option>
          <option value="Second">Link 2</option>
          <option value="Third">Link 3</option>
        </select>
      </form>

      <form>
        <label for="field-2">Select Weather Type</label>
        <select id="field-2" name="field-2" class="text-field-blue w-select">
          <option value="">Select Weather Type</option>
          <option value="First">First choice</option>
          <option value="Second">Second choice</option>
          <option value="Third">Third choice</option>
        </select>
      </form>

      <form>
        <label for="field-3">Select Start and End Date</label>
        <select id="field-3" name="field-3" class="text-field-blue w-select">
          <option value="">Select date from - To</option>
          <option value="First">Date 1</option>
          <option value="Second">Date 2</option>
          <option value="Third">Date 3</option>
        </select>
      </form>

      <form
        id="email-form-3"
        name="email-form-3"
        data-name="Email Form 3"
        method="get"
        data-wf-page-id="65c1ef43a3df449d114c6fed"
        data-wf-element-id="2ca2f74b-8aee-afe7-9c15-ec0b84c48fef"
      >
        <div class="w-layout-grid grid-25">
          <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fcc-114c6fed">
            <label for="field-4" class="field-label"> Select Start Time </label>
            <select
              id="field-4"
              name="field-4"
              data-name="Field 4"
              class="text-field w-select"
            >
              <option value="">Select Start Time</option>
              <option value="First">01:00</option>
              <option value="First">02:00</option>
              <option value="First">03:00</option>
            </select>
          </div>
        </div>
      </form>
      <form
        id="email-form-3"
        name="email-form-3"
        data-name="Email Form 3"
        method="get"
        data-wf-page-id="65c1ef43a3df449d114c6fed"
        data-wf-element-id="2ca2f74b-8aee-afe7-9c15-ec0b84c48fef"
      >
        <div class="w-layout-grid grid-25">
          <div id="w-node-_2ca2f74b-8aee-afe7-9c15-ec0b84c48fcc-114c6fed">
            <label for="field-5" class="field-label"> Select End Time </label>
            <select
              id="field-5"
              name="field-5"
              data-name="Field 5"
              class="text-field w-select"
            >
              <option value="">Select End Time</option>
              <option value="First">01:00</option>
              <option value="First">02:00</option>
              <option value="First">03:00</option>
            </select>
          </div>
        </div>
      </form>
      <!-- Buttons -->
      <div class="div-block-42">
        <div class="button-2-copy-copy w-button">View Accuracy</div>
      </div>
      <!-- Centered Image -->
      <img
        id="img"
        src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
        alt="Placeholder Image"
      />
      <!-- Buttons -->
      <div class="div-block-42">
        <div class="button-2-copy-copy w-button">Download graph</div>
        <div class="button-2-copy-copy w-button">Legend / Key</div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)=" forecastPageNavigation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Forecast
    </h6>
  </div>
</div>

<button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button>
