<ion-content>
  <section class="list-page">
    <div class="">
      <div
        class=""
        [ngClass]="{'applied-styles': !isLoggedIn}"
        *ngIf="isLoggedIn && !isFreeSubscription"
      >
        <h1 class="heading-6" style="text-align: center">International</h1>
        <div
          class="w-layout-grid grid-list"
          style="overflow-y: auto; max-height: 460px; -ms-overflow-style: none"
        >
          <div
            (click)="NavigateToGPM()"
            id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
            href="#"
            class="link-block-3 w-inline-block"
          >
            <h1 class="heading-5">GPM</h1>
          </div>
          <a
            (click)="NavigateToHumidity()"
            id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
            class="link-block-3 w-inline-block"
          >
            <h1 class="heading-5">Humidity</h1>
          </a>
          <div
            (click)="NavigateToSIGWXCharts()"
            id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
            class="link-block-3 w-inline-block"
          >
            <h1 class="heading-5">SIGWX Charts</h1>
          </div>

          <div
            (click)="NavigateToGridWinds()"
            id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
            class="link-block-3 w-inline-block"
          >
            <h1 class="heading-5">Wind:Grid</h1>
          </div>
          <div
            (click)="NavigateToMaximumWind()"
            id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
            class="link-block-3 w-inline-block"
          >
            <h1 class="heading-5">Wind:Maximum</h1>
          </div>
          <div
            (click)="NavigateToImageBrowser()"
            id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
            class="link-block-3 w-inline-block"
          >
            <h1 class="heading-5">Image Browser</h1>
          </div>
          <div
            (click)="NavigateToGraphicalSigmetAirmet()"
            id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
            class="link-block-3 w-inline-block"
          >
            <h1 class="heading-5">Graphical SIGMET/AIRMET</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="list-div" *ngIf="isLoggedIn && isFreeSubscription">
      <h1 class="heading-6">International</h1>
      <div class="w-layout-grid grid-list">
        <div
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          class="link-block-3 w-inline-block"
          (click)="NavigateToGraphicalSigmetAirmet()"
        >
          <h1 class="heading-5">Graphics SIGMENT/AIRMET</h1>
        </div>
      </div>
    </div>

    <div class="list-div" *ngIf="!isLoggedIn">
      <h1 class="heading-6">International</h1>
      <div class="w-layout-grid grid-list">
        <div
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          class="link-block-3 w-inline-block"
          (click)="NavigateToGraphicalSigmetAirmet()"
        >
          <h1 class="heading-5">Graphics SIGMENT/AIRMET</h1>
        </div>
      </div>
    </div>

    <!--Maximum Wind-->

    <!--Image Browser -->
    <!-- <section
      class="aerosport-ci"
      *ngIf="isFormVisible3"
      style="margin-top: -18px !important"
    >
      <h1 class="heading-6">Image Browser</h1>

      <div class="aerosport">
        <div class="aerosportScrol">
          <div class="div-block-464">
            <h1 class="sub-headings"></h1>
          </div>
          <div class="div-block-464">
            <h1 class="sub-headings">Browsing miscellaneous images ()</h1>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Significant Weather Charts -->
    <!-- <section
      class="aerosport-ci"
      *ngIf="isKwazulNatal"
      style="margin-top: -18px !important"
    >
      <h1 class="heading-6">SIGWX Charts</h1>
      <button class="button-2-copy w-button">Symbol</button>

      <div class="aerosport">
        <div class="aerosportScrol">
          <div class="div-block-464">
            <div class="grid-div">
              <div class="w-layout-grid central-grid">
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa4-bb9b1d15"
                  class="div-block-35"
                >
                  <div
                    id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa5-bb9b1d15"
                    class="w-layout-grid grid-21"
                  >
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa6-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">Low level (surface to FL180)</h4>
                    </div>
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa9-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">View Image</h4>
                    </div>
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aac-bb9b1d15"
                      class="div-block-36"
                    ></div>
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aad-bb9b1d15"
                      class="div-block-36"
                    ></div>
                  </div>
                </div>
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aae-bb9b1d15"
                  class="div-block-452"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_707270c1-b2ff-8f51-f118-3b3665aeea79-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_5e42ce22-6a2b-b585-398b-a09e34e0d36c-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">Most recent</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02ab6-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-db37a491-8dad-40b9-a88e-cc55c6b1b566-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-db37a491-8dad-40b9-a88e-cc55c6b1b569-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">A4-Size Images</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02abe-bb9b1d15"
                  class="div-block-453"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3f048f9e-5836-8c6a-6952-e097080e1b78-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3f048f9e-5836-8c6a-6952-e097080e1b7b-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">11:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02ac6-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_5380366f-d675-46f7-ca6a-e0b033a4f3c0-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_5380366f-d675-46f7-ca6a-e0b033a4f3c3-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">14:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02ace-bb9b1d15"
                  class="div-block-454"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-b6c488a8-be9f-7f84-66a4-28e55c9843d7-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-b6c488a8-be9f-7f84-66a4-28e55c9843da-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">17:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02ad6-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_6da9dbc6-7d2d-5655-2cbc-e3a25afe360b-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_6da9dbc6-7d2d-5655-2cbc-e3a25afe360e-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">20:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02ade-bb9b1d15"
                  class="div-block-455"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_740c5105-c953-07a1-3f05-c6c30f0e2e67-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_740c5105-c953-07a1-3f05-c6c30f0e2e6a-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">Outlook</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-block-464">
            <div class="grid-div">
              <div class="w-layout-grid central-grid">
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba086-bb9b1d15"
                  class="div-block-35"
                >
                  <div
                    id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba087-bb9b1d15"
                    class="w-layout-grid grid-21"
                  >
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba088-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">High level (above to FL180)</h4>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba08b-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">View Image</h4>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba08e-bb9b1d15"
                      class="div-block-36"
                    ></div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba08f-bb9b1d15"
                      class="div-block-36"
                    ></div>
                  </div>
                </div>
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba090-bb9b1d15"
                  class="div-block-452"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba092-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba095-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">Most recent</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba098-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba09a-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba09d-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">A4-Size Images</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0a0-bb9b1d15"
                  class="div-block-453"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0a2-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0a5-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">11:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0a8-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0aa-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0ad-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">14:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b0-bb9b1d15"
                  class="div-block-454"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b2-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b5-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">17:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b8-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0ba-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0bd-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">20:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0c0-bb9b1d15"
                  class="div-block-455"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0c2-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0c5-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">Outlook</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-block-464">
            <div class="grid-div">
              <div class="w-layout-grid central-grid">
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c6358-bb9b1d15"
                  class="div-block-35"
                >
                  <div
                    id="w-node-_263303c5-1301-967e-e68c-c272135c6359-bb9b1d15"
                    class="w-layout-grid grid-21"
                  >
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c635a-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">
                        Additional Low (surface to FL100)
                      </h4>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c635d-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">View Image</h4>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6360-bb9b1d15"
                      class="div-block-36"
                    ></div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6361-bb9b1d15"
                      class="div-block-36"
                    ></div>
                  </div>
                </div>
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c6362-bb9b1d15"
                  class="div-block-452"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6364-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6367-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">Most recent</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c636a-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c636c-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c636f-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">A4-Size Images</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c6372-bb9b1d15"
                  class="div-block-453"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6374-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6377-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">11:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c637a-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c637c-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c637f-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">14:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c6382-bb9b1d15"
                  class="div-block-454"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6384-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6387-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">17:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c638a-bb9b1d15"
                  class="div-block-38"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c638c-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c638f-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">20:00</h1>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_263303c5-1301-967e-e68c-c272135c6392-bb9b1d15"
                  class="div-block-455"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6394-bb9b1d15"
                      class="div-block-465"
                    >
                      <a href="#" class="button-2-copy w-button">View</a>
                    </div>
                    <div
                      id="w-node-_263303c5-1301-967e-e68c-c272135c6397-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">Outlook</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Graphical SIGMET/AIRMET-->
    <!-- <section class="ob-metar-history" *ngIf="isTSProbability">
      <div class="cloud-cover">
        <h1 class="heading6">Graphical SIGMET/AIRMET</h1>

        <div class="div-block-15">
          <div>
            <div class="scroll small-m">
              <div class="rows-wrap">
                <div
                  data-delay="4000"
                  data-animation="slide"
                  class="slider-2 w-slider"
                  data-autoplay="false"
                  data-easing="ease"
                  data-hide-arrows="false"
                  data-disable-swipe="false"
                  data-autoplay-limit="0"
                  data-nav-spacing="3"
                  data-duration="500"
                  data-infinite="true"
                >
                  <div class="w-slider-mask prev">
                    <img
                      src="../../assets/graphicSigmentAirmet.png"
                      loading="lazy"
                      width="1216"
                      alt=""
                      class="image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section
      class="gpm-section"
      *ngIf="isFormVisible1"
      style="margin-top: -18px !important"
    >
      <div class="gpm-div">
        <h1 class="heading-6">Grid Wind</h1>

        <div class="div-block-473-copy">
          <h1 class="sub-headings-wind"><strong>West</strong></h1>
        </div>
        <div class="w-layout-grid gpm-grid">
          <div
            id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1a3-728297ff"
            class="div-block-35"
          >
            <div
              id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1a4-728297ff"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1a5-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">FL050</h4>
              </div>
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1a8-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1ab-728297ff"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1ac-728297ff"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1ad-728297ff"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1af-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">18:00</h4>
              </div>
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1b2-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1b5-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1b7-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">12:00</h4>
              </div>
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1ba-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1bd-728297ff"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1bf-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">06:00</h4>
              </div>
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1c2-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1c5-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1c7-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">00:00</h4>
              </div>
              <div
                id="w-node-_23425a11-3e13-6beb-c611-63c6f4d1a1ca-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid gpm-grid">
          <div
            id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ab0-728297ff"
            class="div-block-35"
          >
            <div
              id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ab1-728297ff"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ab2-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24"><strong>FL100</strong></h4>
              </div>
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ab5-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ab8-728297ff"
                class="div-block-36"
              ></div>
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ab9-728297ff"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529aba-728297ff"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529abc-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">18:00</h4>
              </div>
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529abf-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ac2-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ac4-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">12:00</h4>
              </div>
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ac7-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529aca-728297ff"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529acc-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">06:00</h4>
              </div>
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529acf-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ad2-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ad4-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">00:00</h4>
              </div>
              <div
                id="w-node-d5ce3a25-671c-a3b5-7bbb-9902b6529ad7-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid gpm-grid">
          <div
            id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c344b-728297ff"
            class="div-block-35"
          >
            <div
              id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c344c-728297ff"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c344d-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24"><strong>FL180</strong></h4>
              </div>
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3451-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3454-728297ff"
                class="div-block-36"
              ></div>
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3455-728297ff"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3456-728297ff"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3458-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">18:00</h4>
              </div>
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c345b-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c345e-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3460-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">12:00</h4>
              </div>
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3463-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3466-728297ff"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3468-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">06:00</h4>
              </div>
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c346b-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c346e-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3470-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">00:00</h4>
              </div>
              <div
                id="w-node-d9fce6b2-e21c-3a30-5f8d-cf2fab3c3473-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid gpm-grid">
          <div
            id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c67-728297ff"
            class="div-block-35"
          >
            <div
              id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c68-728297ff"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c69-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24"><strong>FL240</strong></h4>
              </div>
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c6d-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c70-728297ff"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c71-728297ff"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c72-728297ff"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c74-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">18:00</h4>
              </div>
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c77-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c7a-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c7c-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">12:00</h4>
              </div>
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c7f-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c82-728297ff"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c84-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">06:00</h4>
              </div>
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c87-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c8a-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c8c-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">00:00</h4>
              </div>
              <div
                id="w-node-_1ecb8766-f398-a5a2-6246-669c93299c8f-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid gpm-grid">
          <div
            id="w-node-_2896eb08-f999-6af8-e38d-b850201c0288-728297ff"
            class="div-block-35"
          >
            <div
              id="w-node-_2896eb08-f999-6af8-e38d-b850201c0289-728297ff"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c028a-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24"><strong>FL340</strong></h4>
              </div>
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c028e-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c0291-728297ff"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c0292-728297ff"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_2896eb08-f999-6af8-e38d-b850201c0293-728297ff"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c0295-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">18:00</h4>
              </div>
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c0298-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_2896eb08-f999-6af8-e38d-b850201c029b-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c029d-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">12:00</h4>
              </div>
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c02a0-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_2896eb08-f999-6af8-e38d-b850201c02a3-728297ff"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c02a5-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">06:00</h4>
              </div>
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c02a8-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_2896eb08-f999-6af8-e38d-b850201c02ab-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c02ad-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">00:00</h4>
              </div>
              <div
                id="w-node-_2896eb08-f999-6af8-e38d-b850201c02b0-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid gpm-grid">
          <div
            id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a663-728297ff"
            class="div-block-35"
          >
            <div
              id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a664-728297ff"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a665-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24"><strong>FL390</strong></h4>
              </div>
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a669-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a66c-728297ff"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a66d-728297ff"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a66e-728297ff"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a670-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">18:00</h4>
              </div>
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a673-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a676-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a678-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">12:00</h4>
              </div>
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a67b-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a67e-728297ff"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a680-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">06:00</h4>
              </div>
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a683-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a686-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a688-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">00:00</h4>
              </div>
              <div
                id="w-node-_0ff6cb8e-1811-2857-b4e8-a3854c35a68b-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid gpm-grid">
          <div
            id="w-node-_41ad96d3-b363-5147-491f-6b909623d8e7-728297ff"
            class="div-block-35"
          >
            <div
              id="w-node-_41ad96d3-b363-5147-491f-6b909623d8e8-728297ff"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8e9-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24"><strong>FL450</strong></h4>
              </div>
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8ed-728297ff"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8f0-728297ff"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8f1-728297ff"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_41ad96d3-b363-5147-491f-6b909623d8f2-728297ff"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8f4-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">18:00</h4>
              </div>
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8f7-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_41ad96d3-b363-5147-491f-6b909623d8fa-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8fc-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">12:00</h4>
              </div>
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d8ff-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_41ad96d3-b363-5147-491f-6b909623d902-728297ff"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d904-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">06:00</h4>
              </div>
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d907-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_41ad96d3-b363-5147-491f-6b909623d90a-728297ff"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d90c-728297ff"
                class="div-block-37"
              >
                <h4 class="heading-25">00:00</h4>
              </div>
              <div
                id="w-node-_41ad96d3-b363-5147-491f-6b909623d90f-728297ff"
                class="div-block-37"
              >
                <a href="#" class="button-2-copy w-button">View </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <div class="bottomdiv" style="margin-top: 148%" *ngIf="isFormVisible">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
      />
      <div class="footerdiv">
        <a
          (click)="backHome()"
          class="link-block-5 w-inline-block"
          style="position: relative; top: -11px"
          ><img src="../../assets/Group-3489.svg" loading="lazy" alt="" />
          <h6
            class="heading-10-copy"
            style="
              color: #fff;
              margin-top: 9px;
              margin-bottom: 0;
              font-family: Montserrat, sans-serif;
              text-decoration: none;
              font-size: 12px;
              margin-top: 4px;
            "
          ></h6>
        </a>
      </div>
    </div> -->

    <!-- <div class="bottomdiv" style="margin-top: 148%" *ngIf="!isFormVisible">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />

      <div class="footerdiv" id="footerdivid">
        <a (click)="forecastPage()" class="link-block-5 w-inline-block"
          ><img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
          <h6 class="heading-10-copy" id="styleh6">International</h6>
        </a>
      </div>
    </div> -->
  
  </section>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img  style="margin-top: -69px" src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" />
    <div class="footerdiv">
      <a (click)="NavigateToLandingPage()" class="link-block-5 w-inline-block"
        style="position: relative; top: -11px"><img src="../../assets/Group-3489.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" style="
            color: #fff;
            margin-top: 9px;
            margin-bottom: 0;
            font-family: Montserrat, sans-serif;
            text-decoration: none;
            font-size: 12px;
            margin-top: 4px;
          "></h6>
      </a>
    </div>
  </div>
</ion-footer>
