<ion-content>
  
  <app-service-content>
    <app-service-header>
      International
    </app-service-header>

    <app-service-list-items *ngIf="isLoggedIn && !isFreeSubscription">
      <app-service-list-items-grid>
        <app-service-list-item (click)="NavigateToGPM()">
          GPM
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToHumidity()">
          Humidity
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToSIGWXCharts()">
          SIGWX Charts
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToGridWinds()">
          Wind:Grid
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToMaximumWind()">
          Wind:Maximum
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToImageBrowser()">
          Image Browser
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToGraphicalSigmetAirmet()">
          Graphical SIGMET/AIRMET
        </app-service-list-item>
      </app-service-list-items-grid>
    </app-service-list-items>

    <app-service-list-items *ngIf="isLoggedIn && isFreeSubscription">
      <app-service-list-items-grid>
        <app-service-list-item (click)="NavigateToGraphicalSigmetAirmet()">
          Graphical SIGMET/AIRMET
        </app-service-list-item>
      </app-service-list-items-grid>
    </app-service-list-items>

    <app-service-list-items *ngIf="!isLoggedIn">
      <app-service-list-items-grid>
        <app-service-list-item (click)="NavigateToGraphicalSigmetAirmet()">
          Graphical SIGMET/AIRMET
        </app-service-list-item>
      </app-service-list-items-grid>
    </app-service-list-items>

  </app-service-content>

</ion-content>

<app-footer></app-footer>

<div class="footerdiv">
  <a (click)="NavigateToLandingPage()" class="link-block-5 w-inline-block"><img
      src="../../assets/Group-3489.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy"
      style="color: #fff; font-size: 12px; margin-top: 4px"></h6>
  </a>
</div>
