<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <div id="top"></div>

  <app-package-content>
    <app-package-header> SIGMET/AIRMET/GAMET </app-package-header>

    <app-package-sub-header>
      <div
        id="w-node-e7ec9294-4182-a125-c428-84c8c81f6e70-5aa24fea"
        class="w-layout-grid grid-cct-copy"
      >
        <div
          id="w-node-_211f6e7f-4ab3-965d-1518-9c1f84dfceec-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Date:</h1>
          <h1 class="heading-7">{{ currentDate }}</h1>
        </div>
        <div
          id="w-node-_2ef88a37-3b9e-7fec-658a-a6f84d594d57-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Time:</h1>
          <h1 class="heading-7">{{ currentTime }}</h1>
        </div>
      </div>

      <div>
        <!-- <h5 class="heading-9" id="searchHeader">Query sigmet</h5> -->
        <form action="/search" class="search w-form">
          <input
            class="search-input w-input"
            maxlength="256"
            name="query"
            placeholder="Search…"
            type="text"
            [(ngModel)]="searchQuery"
            (ngModelChange)="filterbySearch($event)"
            id="searchValue"
          /><button
            type="submit"
            class="search-button w-button"
            (click)="filterbySearch($event)"
          >
            Search
          </button>
        </form>
      </div>
    </app-package-sub-header>

    <app-package-list-items>
      <div
        id="w-node-_5f88f6f6-8fce-d572-7c6f-63acb9f1cb43-61ad4633"
        class="div-block-15"
      >
        <div *ngFor="let sigmet of SigmetList">
          <div class="w-layout-grid heading-text">
            <div
              id="w-node-_5f88f6f6-8fce-d572-7c6f-63acb9f1cb50-61ad4633"
              class="cct-copy-copy"
            >
              <h1 class="heading-21">{{ sigmet.heading }}</h1>
            </div>
          </div>
          <div class="w-layout-grid grid-18">
            <div
              id="w-node-_5f88f6f6-8fce-d572-7c6f-63acb9f1cb57-61ad4633"
              class="div-block-16"
            >
              <p class="paragraph-2  sigmet-text" [innerHTML]="formatSigmetForDisplay(sigmet.filecontent)"></p>

            </div>
        
          </div>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer *ngIf="!isKeyboardVisible"></app-footer>

<div class="footerdiv" id="footerdivid1" *ngIf="!isKeyboardVisible">
  <div (click)="forecastPageNavigation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Forecast
    </h6>
  </div>
</div>

<button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button>
