<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header>Spot Graph Map</app-package-header>

    <app-package-sub-header> </app-package-sub-header>

    <app-package-list-items>
      <div class="aerosport">
        <div class="aerosportScrol">
           <ng-container *ngIf="hasData(); else noDataTemplate">
          <div class="div-block-464">
            <div class="div-block-464">
              <h1 class="sub-headings">Aerodromes</h1>
              <div class="grid-div">
                <div class="w-layout-grid central-grid">
                  <div
                    id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba086-bb9b1d15"
                    class="div-block-35"
                  >
                    <div
                      id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba087-bb9b1d15"
                      class="w-layout-grid grid-21"
                    >
                      <div
                        id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba088-bb9b1d15"
                        class="div-block-36"
                      >
                        <h4 class="heading-24">CB</h4>
                      </div>
                      <div
                        id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba08b-bb9b1d15"
                        class="div-block-36"
                      >
                        <h4 class="heading-24">View Image</h4>
                      </div>
                      <div
                        id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba08e-bb9b1d15"
                        class="div-block-36"
                      ></div>
                      <div
                        id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba08f-bb9b1d15"
                        class="div-block-36"
                      ></div>
                    </div>
                  </div>

                  <!---->
                  <div
                    id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b0-bb9b1d15"
                    class="div-block-454"
                    *ngFor="
                      let item of viewFilters(xlFAItems, 'd1');
                      let i = index
                    "
                    [ngClass]="i % 2 === 0 ? 'div-block-454' : 'div-block-38'"
                  >
                    <div class="w-layout-grid grid-41">
                      <div
                        id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b2-bb9b1d15"
                        class="div-block-465"
                      >
                        <button
                          class="button-2-copy w-button"
                          (click)="ImagesArray(item.filename, xlFAItems)"
                        >
                          View
                        </button>
                      </div>
                      <div
                        id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b5-bb9b1d15"
                        class="div-block-465"
                      >
                        <h1 class="heading-25">
                          {{ item.filename.substring(2, 6) }}
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h1 class="sub-headings">Locations</h1>
            <div class="grid-div">
              <div class="w-layout-grid central-grid">
                <div
                  id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa4-bb9b1d15"
                  class="div-block-35"
                >
                  <div
                    id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa5-bb9b1d15"
                    class="w-layout-grid grid-21"
                  >
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa6-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">Regions</h4>
                    </div>
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aa9-bb9b1d15"
                      class="div-block-36"
                    >
                      <h4 class="heading-24">View Image</h4>
                    </div>
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aac-bb9b1d15"
                      class="div-block-36"
                    ></div>
                    <div
                      id="w-node-cfe5f63b-1252-659b-3929-d5675cc02aad-bb9b1d15"
                      class="div-block-36"
                    ></div>
                  </div>
                </div>

                <div
                  id="w-node-_3a2b9a5a-cc94-4474-e9b2-321530eba0b0-bb9b1d15"
                  class="div-block-454"
                  *ngFor="let item of noHyphenAfterXL; let i = index"
                  [ngClass]="i % 2 === 0 ? 'div-block-454' : 'div-block-38'"
                >
                  <div class="w-layout-grid grid-41">
                    <div
                      id="w-node-db37a491-8dad-40b9-a88e-cc55c6b1b566-bb9b1d15"
                      class="div-block-465"
                    >
                      <button
                        class="button-2-copy w-button"
                        (click)="ImagesArray(item.filename, noHyphenAfterXL)"
                      >
                        View
                      </button>
                    </div>
                    <div
                      id="w-node-db37a491-8dad-40b9-a88e-cc55c6b1b569-bb9b1d15"
                      class="div-block-465"
                    >
                      <h1 class="heading-25">
                        {{
                          filenameToDisplayName[item.filename] ||
                            extractAlphabetical(
                              item.filename.substring(2).split("_spot_d1")[0]
                            )
                        }}
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </ng-container>
             <ng-template #noDataTemplate>
        <div class="no-data-message">
          <h2>Currently there is no data to display.</h2>
        </div>
      </ng-template>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToAerosport()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Aerosport
    </h6>
  </div>
</div>
