<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <app-package-content>
    <app-package-header>
      Feedback Messages
    </app-package-header>

    <app-package-sub-header class="b-container">
      <div>
        <a (click)="providerfeedback()" class="search-button w-button">
          + Message
        </a>
      </div>
    </app-package-sub-header>

    <app-package-list-items>
      <div class="w-layout-grid grid-list">
        <a *ngFor="let message of feedbackMessages" id="w-node-_53abbd44-15dd-9a1d-b3a8-8e1d34ffa0df-378bdca1"
          (click)="navigateToChat(message.feedbackId, message.fullname)" class="chat-link w-inline-block">
          <h1 class="heading-5 ">
            <strong>
              {{message.title}}
            </strong>
          </h1>
          <div>
            <h1 class="chat-date">
              {{ message.updated_at | date: 'dd/MM/yyyy' }}
            </h1>
            <h2 class="chat-date">
              {{ message.updated_at | date: 'HH:mm:ss' }}
            </h2>
          </div>
        </a>
      </div>
    </app-package-list-items>
  </app-package-content>

</ion-content>


<!-- <div class="footerdiv">
  <a (click)="home()" class="link-block-5 w-inline-block" ><img
      src="../../assets/Group-3489.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy" style="
        color: #fff;
        margin-top: 9px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "></h6>
  </a>
</div>-->
 <app-footer></app-footer>

<div class="footerdiv">
  <a (click)="home()" class="link-block-5 w-inline-block" ><img
      src="../../assets/Group-3489.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy"
      style="color: #fff; font-size: 12px; margin-top: 4px"></h6>
  </a>
</div>