// #layout {
//     grid-row-gap: 0px !important;
// }

// .layout-grid {
//     grid-row-gap: 16px;
//     grid-column-gap: 16px;
//     grid-template-rows: auto auto;
//     grid-template-columns: 1fr 1fr;
//     grid-auto-columns: 1fr;
//     display: grid;
//   }

.grid-heading {
    // grid-template-rows: auto auto auto;
    // grid-template-columns: 1fr;
    // margin-bottom: 10px;
    // margin-left: 0;
    // margin-right: 0;

    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    // margin-top: 45px;
    // position: fixed;
    left: 0;
    background: #fff;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .grid-heading {
        margin-top: 140px;
    }
}

@media screen and (max-width: 767px) {

    .grid-heading {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 479px) {
    .grid-heading {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }

}