.w-slider-arrow-left,
.w-slider-arrow-right {
  color: #002548 !important;
}
.footerdiv {
  padding-top: 0;
  z-index: 1000;
}
.w-slider-mask {
  overflow: hidden; /* By default, no scrolling */
}

.w-slider-mask.zoom-active {
  overflow: scroll; /* Enable scrolling when zoom is active */
}

.w-slider-arrow-left,
.w-slider-arrow-right {
  color: #002548;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  color: #fff;
  letter-spacing: 0.25px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 5px 30px 5px 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle.w--open {
  margin-bottom: 10px;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide.w--open {
  margin-right: 16px;
  padding-left: 0;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link.w--current {
  color: #fff;
  background-image: linear-gradient(#8295c2, #8295c2);
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Montserrat, sans-serif;
}

.w-slider {
  position: relative;
  // height: 300px;
  height: auto;
  top: 20px;
  text-align: center;
  background: #dddddd;
  clear: both;
  margin-left: 21px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-2 {
  color: #fff;
  margin-top: 5.4907px;
  margin-right: -122px;
}

.dropdown-list {
  // background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
}

.dropdown-list.w--open {
  background-image: linear-gradient(#bfcdda, #bfcdda);
  border-radius: 10px;
  margin-top: -9px;
  margin-left: -9px;
}

.image-container {
  position: relative;
  width: 100%;
  max-height: 56vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
  margin-top: -4px;
  margin-bottom: 10px;
  height: 50vh;
}

.icon-2-copy {
  color: #fff;
  margin-top: 10.4907px;
  margin-right: -179px;
}
.w-slider-arrow-left,
.w-slider-arrow-right {
  color: #002548 !important;
}
.image-container {
  position: relative;
  width: 100%;
  max-height: 56vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
  margin-top: 101px;

  margin-bottom: 10px;
  height: 56vh;
}

.responsive-image {
  transition: transform 0.2s ease; /* Smooth transition for scaling */
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-in; /* Default cursor */

  position: relative;
  overflow: auto; /* Enable scrolling */
  width: 100%;
  height: 100%; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotate-button {
  --background: #28a745; /* Green color */
  --background-activated: #219638; /* Darker green when clicked */
  --background-hover: #36b55b; /* Lighter green on hover */
}

