.cancel-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.image-wrapper {
  position: relative;
  overflow: scroll; /* Enable scrolling */
  width: 100%;
  height: 100%; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 23px;
}

.fileImage {
  transition: transform 0.2s ease; /* Smooth transition for scaling */
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-in; /* Default cursor */
}

// .image-wrapper {
//   position: relative;
//   overflow: hidden; /* Make sure it's hidden initially */
//   width: 100%;
//   height: 100%; 
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }




.rotate-icon{
  --background: green;
  --color: white;
  // position: relative;
  // right: 142px;
  font-size: 11px;
  position: fixed;
  top: 11%;
  z-index: 10;

}

.attachment-file {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.w-button {
  /* margin-top: 10px; */
  width: 100px !important;
}

.paragraph-3 {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.admin-div-chat {
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.25fr;
}

.adm {
  color: #00386c;
  text-align: right;
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  /* font-weight: 700; */
}

.grid-16 {
  grid-template-rows: auto;
  grid-template-columns: 0.25fr 1fr;
}

.grid-17 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.1fr;
}

.div-block-446 {
  background-color: #00386c;
  border-radius: 10px;
  padding: 5px;
}

.div-block-447 {
  margin-bottom: 10px;
}

.time-heading-copy {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}

.grid-13 {
  background-color: #ebeff3;
  background-image: linear-gradient(
      rgba(235, 239, 243, 0.86),
      rgba(235, 239, 243, 0.86)
    ),
    url("../../../assets/Mask-Group-12.svg");
  background-position: 0 0, 48% 53%;
  background-repeat: repeat, repeat-y;
  background-size: auto, 294px 654%;
  border-radius: 10px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  padding: 10px;
  background-attachment: fixed;

  max-height: 100vh;
  overflow-y: auto;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}
.fileImage {
  // width: 100%;
  // height: 100%;
  justify-content: center;
  height: 92%;
  // object-fit: contain; /* Ensures the image maintains aspect ratio while filling the container */
}
