<!-- <mat-dialog-content class="mat-dialog-content" >
  <span (click)="closeImageDialog()" class="cancel-icon">
  
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
      
      <path id="Icon_material-cancel" data-name="Icon material-cancel" d="M18,3A15,15,0,1,0,33,18,14.986,14.986,0,0,0,18,3Zm7.5,20.385L23.385,25.5,18,20.115,12.615,25.5,10.5,23.385,15.885,18,10.5,12.615,12.615,10.5,18,15.885,23.385,10.5,25.5,12.615,20.115,18Z" transform="translate(-3 -3)" fill="#e03c32"/>
      
    </svg>
    <img class="fileImage" [src]="fileBaseUrl" alt="Selected Image"/>
  
  </span>

  <button class="btn1" (click)="rotateImage()">Rotate
      
  </button>

</mat-dialog-content> -->


<!-- <ion-content>
  <mat-dialog-content class="attachment-file grid-13">
    <ion-button (click)="rotateImage()" class="rotate-icon">
                 <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>


    <span (click)="closeImageDialog()" class="cancel-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
        <path id="Icon_material-cancel" data-name="Icon material-cancel" d="M18,3A15,15,0,1,0,33,18,14.986,14.986,0,0,0,18,3Zm7.5,20.385L23.385,25.5,18,20.115,12.615,25.5,10.5,23.385,15.885,18,10.5,12.615,12.615,10.5,18,15.885,23.385,10.5,25.5,12.615,20.115,18Z" transform="translate(-3 -3)" fill="#e03c32"/>
      </svg>
    </span>
   
    
      

        <img [src]="fileBaseUrl"    alt="Selected Image"
        #imageContainer
        [style.transform]="'rotate(' + rotationDegree + 'deg)'"
         (dblclick)="toggleZoom()" class="fileImage" />
  
   
  </mat-dialog-content>
</ion-content> -->



<!-- image-viewr.page.html -->
<mat-dialog-content>
  <div #liveRegion aria-live="" style="background-color: white; color: white;"></div>

  <!-- Rotate Button -->
  <ion-button (click)="rotateImage()" class="rotate-icon">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>

  <!-- Close Button -->
  <span (click)="closeImageDialog()" class="cancel-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
      <path id="Icon_material-cancel" data-name="Icon material-cancel" d="M18,3A15,15,0,1,0,33,18,14.986,14.986,0,0,0,18,3Zm7.5,20.385L23.385,25.5,18,20.115,12.615,25.5,10.5,23.385,15.885,18,10.5,12.615,12.615,10.5,18,15.885,23.385,10.5,25.5,12.615,20.115,18Z" transform="translate(-3 -3)" fill="#e03c32"/>
    </svg>

      <!-- PanZoom Container -->
 

 
  <!-- <div *ngIf="fileBaseUrl" class="image-viewer">
    <img [src]="fileBaseUrl" [style.transform]="'
    rotate(' + rotationAngle + 'deg)'" alt="Viewed Image" class="viewed-image" />
    
  
    <button (click)="rotateImage()">Rotate</button>
  </div>  -->
  </span>

  <!-- Image Wrapper -->
  <div class="image-wrapper" #imageContainer>
    <img [src]="fileBaseUrl" alt="Selected Image" class="fileImage" #imageElement />
  </div>
</mat-dialog-content>








