.cancel-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.image-wrapper {
  position: relative;
  overflow: auto; /* Enable scrolling */
  width: 100%;
  height: 100%; /* Ensure the container takes full height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileImage {
  transform-origin: 50% 50% !important; /* Center of the image */
  transform: translate(0, 0) scale(1) rotate(0deg) !important; /* Initial transformation */
  transition: transform 0.2s ease-in-out !important; /* Smooth transition */
  
  max-width: none; /* Remove max-width to allow for scaling */
  max-height: none; /* Remove max-height to allow for scaling */
  cursor: zoom-in; /* Default cursor */
  
  position: relative;
  width: auto; /* Allow width to scale */
  height: auto; /* Allow height to scale */
  display: block; /* Use block to ensure it respects the dimensions */
}

/* Other styles remain unchanged */




/* Keep this for optional rotation icon styling */
.rotate-icon {
  --background: green;
  --color: white;
  font-size: 11px;
  position: fixed;
  top: 11%;
  z-index: 10;
  height: 25px;
  min-height: 14px;
  width: 35px;
  min-width: 22px;
  
  left: 43px;
}


/* Other styles remain unchanged */
.attachment-file {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.w-button {
  width: 100px !important;
}

.paragraph-3 {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.admin-div-chat {
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.25fr;
}

.adm {
  color: #00386c;
  text-align: right;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.grid-16 {
  grid-template-rows: auto;
  grid-template-columns: 0.25fr 1fr;
}

.grid-17 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.1fr;
}

.div-block-446 {
  background-color: #00386c;
  border-radius: 10px;
  padding: 5px;
}

.div-block-447 {
  margin-bottom: 10px;
}

.time-heading-copy {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}

.grid-13 {
  background-color: #ebeff3;
  background-image: linear-gradient(
      rgba(235, 239, 243, 0.86),
      rgba(235, 239, 243, 0.86)
    ),
    url("../../../assets/Mask-Group-12.svg");
  background-position: 0 0, 48% 53%;
  background-repeat: repeat, repeat-y;
  background-size: auto, 294px 654%;
  border-radius: 10px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  padding: 10px;
  background-attachment: fixed;

  max-height: 100vh;
  overflow-y: auto;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

