<!-- <ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header>TS Probability</app-package-header>

    <app-package-sub-header> </app-package-sub-header>

    <app-package-list-items>
      <div class="cloud-cover">
        <div class="w-layout-grid metar-history-grid">
          <div class="date-container">
            <button
              id="last-day-btn"
              class="button-spacing"
              (click)="previousDay()"
              *ngIf="prevday"
            >
              << Previous Day
            </button>
            <span id="current-date"></span>
            <button
              id="next-day-btn"
              class="button-spacing"
              (click)="nextDay()"
              *ngIf="nextday"
            >
              Next Day >>
            </button>
          </div>
        </div>

        <div class="div-block-15">
          <div>
            <div class="scroll small-m">
              <div class="rows-wrap">
                <div
                  data-delay="4000"
                  data-animation="slide"
                  class="slider-2 w-slider"
                  data-autoplay="false"
                  data-easing="ease"
                  data-hide-arrows="false"
                  data-disable-swipe="false"
                  data-autoplay-limit="0"
                  data-nav-spacing="3"
                  data-duration="500"
                  data-infinite="true"
                >
                  <div class="w-slider-mask prev" *ngIf="prevday">
                    <img
                      [src]="fileBaseUrlPrevious"
                      loading="lazy"
                      width="90%"
                      height="90%"
                      alt=""
                      class="image"
                    />
                  </div>
                  <div class="w-slider-mask next" *ngIf="nextday">
                    <img
                      [src]="fileBaseUrlNext"
                      loading="lazy"
                      width="90%"
                      height="90%"
                      alt=""
                      class="image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToAerosport()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Aerosport
    </h6>
  </div>
</div> -->

<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header class="package-header">
      TS Probability

      <div class="metar-history-grid">
        <ion-button
          fill="clear"
          class="nav-button"
          (click)="previousDay()"
          [disabled]="!prevday"
        >
          << Previous Day
        </ion-button>
        <span class="current-date">
          <ion-button
            expand="full"
            (click)="rotateImage()"
            class="rotate-button"
          >
            <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
        </span>
        <ion-button
          fill="clear"
          class="nav-button"
          (click)="nextDay()"
          [disabled]="!nextday"
        >
          Next Day >>
        </ion-button>
      </div>
    </app-package-header>

    <app-package-sub-header> </app-package-sub-header>
    <div class="listapp">
      <div class="image-container" #imageContainer>
        <div *ngIf="prevday">
          <img
            [style.transform]="'rotate(' + rotationDegree + 'deg)'"
            [src]="fileBaseUrlPrevious"
            loading="lazy"
            class="responsive-image"
            alt="Previous Day Image"
            width="100%"
            height="100%"
          />
        </div>
        <div *ngIf="nextday">
          <img
            [style.transform]="'rotate(' + rotationDegree + 'deg)'"
            [src]="fileBaseUrlNext"
            loading="lazy"
            class="responsive-image"
            alt="Next Day Image"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToAerosport()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Aerosport
    </h6>
  </div>
</div>
