<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-indicator">
    <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>
    Loading...
  </div>

  <section class="low_level-wind-section" style="">
    <div class="div-block-2">
      <img
        src="images/Path-3452.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div>
    <h1 class="heading-6">
      Low-level Wind Profile for Upper <br />Air stations
    </h1>
    <div class="scrollclass">
      <div class="low-level-main-div">
        <div class="div-block-466">
          <div class="w-layout-grid lowlevel-grid">
            <div
              id="w-node-_14588279-bdc8-ee9d-e926-6a691607a83a-b2ace610"
              class="div-block-35"
            >
              <div
                id="w-node-_14588279-bdc8-ee9d-e926-6a691607a83b-b2ace610"
                class="w-layout-grid low-grid"
              >
                <div
                  id="w-node-_14588279-bdc8-ee9d-e926-6a691607a83c-b2ace610"
                  class="div-block-36"
                >
                  <h4 class="heading-24" id="heading224">Wind Profile</h4>
                </div>
                <div
                  id="w-node-_14588279-bdc8-ee9d-e926-6a691607a83f-b2ace610"
                  class="div-block-36"
                >
                  <h4 class="heading-24" id="heading224">View Image</h4>
                </div>
                <div
                  id="w-node-_14588279-bdc8-ee9d-e926-6a691607a842-b2ace610"
                  class="div-block-36"
                ></div>
                <div
                  id="w-node-_14588279-bdc8-ee9d-e926-6a691607a843-b2ace610"
                  class="div-block-36"
                ></div>
              </div>
            </div>
            <div
              id="w-node-_14588279-bdc8-ee9d-e926-6a691607a844-b2ace610"
              class="div-block-452"
              *ngFor="let item of lowLevel; let i = index"
              [ngClass]="i % 2 === 0 ? 'div-block-452' : 'div-block-38'"
            >
              <div class="w-layout-grid wind-grid">
                <div
                  id="w-node-_14588279-bdc8-ee9d-e926-6a691607a846-b2ace610"
                  class="div-block-37"
                >
                  <h4 class="heading-25">{{ transformFilename(item) }}</h4>
                </div>
                <div
                  id="w-node-_14588279-bdc8-ee9d-e926-6a691607a849-b2ace610"
                  class="div-block-37"
                >
                  <div
                    class="button-2-copy w-button"
                    id="view"
                    (click)="openImageViewer(item)"
                  >
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-block-479">
            <p class="paragraph-13">
              <strong>Note:</strong> Not all stations do ascents every day (or
              twice daily). <br />Availability of a profile depends on the time
              of day <br />and season.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />

    <div class="footerdiv" id="footerdivid1">
      <div (click)="NavigateToDomestic()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6
          class="heading-10-copy"
          id="styleh6"
          style="
            color: #fff;
            margin-top: 10px;
            margin-bottom: 0;
            font-family: Montserrat, sans-serif;
            text-decoration: none;
            font-size: 12px;
            margin-top: 4px;
          "
        >
          Domestic
        </h6>
      </div>
    </div>
  </div>
</ion-footer>
