<ion-content>
  <div *ngIf="loading" class="loading-indicator">
    <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>Loading...
  </div>

  <section class="edit-flight-section" style="margin-top: 100px">
    <div class="div-block-2"><img src="images/Path-3452.svg" loading="lazy" width="1216" alt="" class="image"></div>

    <h1 class="heading-6">Saved flight </h1>

    <div>
      <div style="margin-top: 3px !important;
width: 51%;
margin-left: 8px;" class="button-2-copy w-button">Click here to add a new flight</div>
      <div style="margin-top: 3px !important;
   width: 51%;
   margin-left: 8px;" class="button-2-copy w-button">Delete all flights </div>

    </div>

    <div class="flightScrol" style="width:100% !important">
      <div class="table-contain">
        <div style="width: 53em;
      margin-left: 16px;">
          <mat-table [dataSource]="dataSource" matSort>


            <ng-container matColumnDef="Flight">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Flight </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Flight}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="departure">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Departure </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.departure}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="destination">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Destination</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.destination}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="etd">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ETD </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.etd}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="vfr">
              <mat-header-cell *matHeaderCellDef>VFR/IFR</mat-header-cell>
              <mat-cell *matCellDef="let row">

              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef>Edit/Generate</mat-header-cell>
              <mat-cell *matCellDef="let row">

              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

      </div>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>


  </section>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" class="image" />

    <div class="footerdiv" id="footerdivid">
      <a (click)="NavigateToFlightBriefing()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" id="styleh6">
          Flight Briefing</h6>
      </a>
    </div>
  </div>
</ion-footer>