<mat-dialog-content class="attachment-file grid-13">
  <span (click)="closeImageDialog()" class="cancel-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      viewBox="0 0 30 30"
    >
      <path
        id="Icon_material-cancel"
        data-name="Icon material-cancel"
        d="M18,3A15,15,0,1,0,33,18,14.986,14.986,0,0,0,18,3Zm7.5,20.385L23.385,25.5,18,20.115,12.615,25.5,10.5,23.385,15.885,18,10.5,12.615,12.615,10.5,18,15.885,23.385,10.5,25.5,12.615,20.115,18Z"
        transform="translate(-3 -3)"
        fill="#e03c32"
      />
    </svg>
  </span>
  <h2 style="margin: 33px 0 19px">
    Decoded TAF for FAOR (O R Tambo International)
  </h2>

  <table>
    <tr>
      <th>Forecast for station</th>
      <td data-label="Forecast for station">
        FAOR O R Tambo Intl, South Africa 2609S 0281348E
      </td>
    </tr>
    <tr>
      <th>Observation time</th>
      <td data-label="Observation time">Day 26 04:00</td>
    </tr>
    <tr>
      <th>Forecast start time</th>
      <td data-label="Forecast start time">Day 26 06:00</td>
    </tr>
    <tr>
      <th>Until time</th>
      <td data-label="Until time">Day 27 12:00</td>
    </tr>
    <tr>
      <th>Wind direction</th>
      <td data-label="Wind direction">100 degrees</td>
    </tr>
    <tr>
      <th>Wind speed</th>
      <td data-label="Wind speed">6.7 m/s (13KT)</td>
    </tr>
    <tr>
      <th>Visibility</th>
      <td data-label="Visibility">10km or more (CAVOK)</td>
    </tr>
    <tr>
      <th>Clouds</th>
      <td data-label="Clouds">No cloud of operational significance</td>
    </tr>
    <tr>
      <th>Weather</th>
      <td data-label="Weather">No weather of significance to aviation</td>
    </tr>
    <tr>
      <th>Maximum Temperature</th>
      <td data-label="Maximum Temperature">18 at Day 26 13:00</td>
    </tr>
    <tr>
      <th>Minimum Temperature</th>
      <td data-label="Minimum Temperature">5 at Day 27 05:00</td>
    </tr>
    <tr>
      <th>From time</th>
      <td data-label="From time">Day 26 19:00</td>
    </tr>
    <tr>
      <th>Wind direction (From time)</th>
      <td data-label="Wind direction (From time)">080 degrees</td>
    </tr>
    <tr>
      <th>Wind speed (From time)</th>
      <td data-label="Wind speed (From time)">4.1 m/s (8KT)</td>
    </tr>
    <tr>
      <th>Visibility (From time)</th>
      <td data-label="Visibility (From time)">10km or more (CAVOK)</td>
    </tr>
    <tr>
      <th>Clouds (From time)</th>
      <td data-label="Clouds (From time)">
        No cloud of operational significance
      </td>
    </tr>
    <tr>
      <th>Weather (From time)</th>
      <td data-label="Weather (From time)">
        No weather of significance to aviation
      </td>
    </tr>
    <tr>
      <th>Probability</th>
      <td data-label="Probability">30%</td>
    </tr>
    <tr>
      <th>Temporary time</th>
      <td data-label="Temporary time">Day 27 02:00</td>
    </tr>
    <tr>
      <th>Until time (Temporary)</th>
      <td data-label="Until time (Temporary)">Day 27 06:00</td>
    </tr>
    <tr>
      <th>Horizontal visibility (Temporary)</th>
      <td data-label="Horizontal visibility (Temporary)">4500 metres</td>
    </tr>
    <tr>
      <th>Weather (Temporary)</th>
      <td data-label="Weather (Temporary)">Mist</td>
    </tr>
    <tr>
      <th>Clouds (Temporary)</th>
      <td data-label="Clouds (Temporary)">
        Broken Clouds (5 to 7 oktas) at 150 metres (500ft)
      </td>
    </tr>
  </table>
</mat-dialog-content>
