<mat-dialog-content class="attachment-file grid-13">
  <span (click)="closeImageDialog()" class="cancel-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      viewBox="0 0 30 30"
    >
      <path
        id="Icon_material-cancel"
        data-name="Icon material-cancel"
        d="M18,3A15,15,0,1,0,33,18,14.986,14.986,0,0,0,18,3Zm7.5,20.385L23.385,25.5,18,20.115,12.615,25.5,10.5,23.385,15.885,18,10.5,12.615,12.615,10.5,18,15.885,23.385,10.5,25.5,12.615,20.115,18Z"
        transform="translate(-3 -3)"
        fill="#e03c32"
      />
    </svg>
  </span>
  <h2 style="margin: 33px 0 19px">
    Decoded TAF for  {{ decodedTAF.station }}
  </h2>
<table>
    <tr>
      <th>Forecast for station</th>
      <td data-label="Forecast for station">{{ decodedTAF.station }}</td>
    </tr>
    <tr *ngIf="decodedTAF.observationTime">
      <th>Observation time</th>
      <td data-label="Observation time">{{ decodedTAF.observationTime }}</td>
    </tr>
    <tr *ngIf="decodedTAF.validFrom">
      <th>Forecast start time</th>
      <td data-label="Forecast start time">{{ decodedTAF.validFrom }}</td>
    </tr>
    <tr *ngIf="decodedTAF.validTo">
      <th>Until time</th>
      <td data-label="Until time">{{ decodedTAF.validTo }}</td>
    </tr>
    <tr *ngIf="decodedTAF.wind">
      <th>Wind</th>
      <td data-label="Wind">{{ decodedTAF.wind }}</td>
    </tr>
    <tr *ngIf="decodedTAF.visibility">
      <th>Visibility</th>
      <td data-label="Visibility">{{ decodedTAF.visibility }}</td>
    </tr>
    <tr *ngIf="decodedTAF.clouds">
      <th>Clouds</th>
      <td data-label="Clouds">{{ decodedTAF.clouds }}</td>
    </tr>
    <tr *ngIf="decodedTAF.weather">
      <th>Weather</th>
      <td data-label="Weather">{{ decodedTAF.weather }}</td>
    </tr>
    <tr *ngIf="decodedTAF.maxTemp">
      <th>Maximum Temperature</th>
      <td data-label="Maximum Temperature">{{ decodedTAF.maxTemp }}</td>
    </tr>
    <tr *ngIf="decodedTAF.minTemp">
      <th>Minimum Temperature</th>
      <td data-label="Minimum Temperature">{{ decodedTAF.minTemp }}</td>
    </tr>

    <!-- Loop over all changes (BECMG, FM, TEMPO, PROB) -->
    <ng-container *ngFor="let change of decodedTAF.changes">
      <tr>
        <th>Change Type</th>
        <td data-label="Change Type">{{ change.type }}</td>
      </tr>
      <tr *ngIf="change.from">
        <th>From time</th>
        <td data-label="From time">{{ change.from }}</td>
      </tr>
      <tr *ngIf="change.to">
        <th>Until time</th>
        <td data-label="Until time">{{ change.to }}</td>
      </tr>
      <tr *ngIf="change.wind">
        <th>Wind</th>
        <td data-label="Wind">{{ change.wind }}</td>
      </tr>
      <tr *ngIf="change.visibility">
        <th>Visibility</th>
        <td data-label="Visibility">{{ change.visibility }}</td>
      </tr>
      <tr *ngIf="change.clouds">
        <th>Clouds</th>
        <td data-label="Clouds">{{ change.clouds }}</td>
      </tr>
      <tr *ngIf="change.weather">
        <th>Weather</th>
        <td data-label="Weather">{{ change.weather }}</td>
      </tr>
      <tr *ngIf="change.probability">
        <th>Probability</th>
        <td data-label="Probability">{{ change.probability }}</td>
      </tr>
      
    </ng-container>
  </table>
</mat-dialog-content>
