<ion-content>
  <app-loading *ngIf="loading"></app-loading>
  <app-service-content>
    <app-service-header> AeroSport </app-service-header>

    <app-service-list-items *ngIf="isLoggedIn && !isFreeSubscription">
      <app-service-list-items-grid>
        <app-service-list-item (click)="NavigateToCentralInterior()">
          Central Interior
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToCloudForecast()">
          Cloud Forecast
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToKwazulNatal()">
          Kwazulu Natal
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToSouthWesternCape()">
          Southwestern Cape
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToSpotGraphMap()">
          Spot Graph Map
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToSynopticAnalysis()">
          Synoptic Analysis
        </app-service-list-item>
        <app-service-list-item (click)="NavigateToTSProbability()">
          TS Probability
        </app-service-list-item>
      </app-service-list-items-grid>
    </app-service-list-items>
  </app-service-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv">
  <a
    (click)="NavigateToLandingPage()"
    class="link-block-5 w-inline-block"
    ><img src="../../assets/Group-3489.svg" loading="lazy" alt="" />
     <h6 class="heading-10-copy"
      style="color: #fff; font-size: 12px; margin-top: 4px"></h6>
  </a>
</div>
