.bottomdiv {
    position: fixed;
    margin-top: 155%;
  }
  
  
  
  
  
  
  @media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
      max-width: none;
    }
  }
  
  
  
  .colour-coded-tafs-page {
    margin-top: 100px !important;
  }
  
  
  
  #btntotop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00386c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #btntotop:hover {
    background-color: #555;
  }
  
  .content {
    display: flex;
    position: relative;
    top: 25%;
    height: 70%;
    overflow-y: auto;
  }
  #head12{
    position: relative;
  left: 17px;
  }
  
  .list-page {
    margin-top:0% !important;
    overflow-y: scroll;
  }
  
  #colorcoded {
    margin-top: 0% !important;
  }
  
  // # Tablet
  @media only screen and (min-width: 768px) {
    .content {
      position: relative;
      top: 40%;
      height: 60%;
    }
  }
  
  
  .bottomdiv{
    position: fixed !important;
    bottom: 10px !important;
  }
  .main-content {
    height: 100%;
  }

  // .link-block-5 {
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   text-decoration: none;
  //   display: flex;
  // }

  .bottom-nav-div {
    height: 28vh;
    align-items: flex-end;
    margin-top: 120px;
  }