<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-indicator">
    <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>Loading...
  </div>

  <section class="sigwx-charts">
    <h1 class="heading-6">Significant Weather Charts</h1>
    <div class="scrollclass">
      <div class="sigwx-div">
        <div
          class="button-2-copy w-button"
          id="symbol"
          (click)="openImageViewerSymbol(item)"
        >
          Symbols
        </div>
        <div class="heading-24" id="heading224">View Image</div>
        <div class="div-block-473">
          <div class="div-blue-copy"></div>
        </div>
        <div class="w-layout-grid sigwx-grid" id="chats">
          <div
            id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd5f8-4a376e8a"
            class="div-block-35"
          >
            <div class="w-layout-grid grid-21" id="grid121">
              <div
                id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd5fa-4a376e8a"
                class="div-block-36"
                id="node1"
              >
                <h4 class="heading-24" id="block">
                  Low level (surface to FL180)
                </h4>
              </div>
              <div
                id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd5fd-4a376e8a"
                class="div-block-36"
              >
                <div
                  class="heading-24"
                  id="heading224"
                  (click)="openImageViewerSymbol(item)"
                >
                  View Image
                </div>
              </div>
              <div
                id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd600-4a376e8a"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd601-4a376e8a"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd602-4a376e8a"
            class="div-block-452"
            *ngFor="let item of Sigwxm; let i = index"
            [ngClass]="i % 2 === 0 ? 'div-block-452' : 'div-block-38'"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd604-4a376e8a"
                class="div-block-37"
              >
                <h4 class="heading-25">{{ getTimeFromFilenamexm(item) }}</h4>
              </div>
              <div
                id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd607-4a376e8a"
                class="div-block-37"
              >
                <div
                  class="button-2-copy w-button"
                  id="view"
                  (click)="openImageViewer(item)"
                >
                  View
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid sigwx-grid" id="chats">
          <div
            id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa58-4a376e8a"
            class="div-block-35"
          >
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa59-4a376e8a"
              class="w-layout-grid grid-21"
              id="grid121"
            >
              <div
                id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa5a-4a376e8a"
                class="div-block-36"
                id="node1"
              >
                <h4 class="heading-24" id="block">
                  High level (above to FL180)
                </h4>
              </div>
              <div
                id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa5d-4a376e8a"
                class="div-block-36"
              >
                <h4 class="heading-24" id="heading224">View Image</h4>
              </div>
              <div
                id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa60-4a376e8a"
                class="div-block-36"
              ></div>
              <div
                id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa61-4a376e8a"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa62-4a376e8a"
            class="div-block-452"
            *ngFor="let item of Sigwxh; let i = index"
            [ngClass]="i % 2 === 0 ? 'div-block-452' : 'div-block-38'"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa64-4a376e8a"
                class="div-block-37"
              >
                <h4 class="heading-25">{{ getTimeFromFilenamexh(item) }}</h4>
              </div>
              <div
                id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa67-4a376e8a"
                class="div-block-37"
              >
                <div
                  class="button-2-copy w-button"
                  id="view"
                  (click)="openImageViewer(item)"
                >
                  View
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid sigwx-grid" id="chats">
          <div
            id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d1-4a376e8a"
            class="div-block-35"
          >
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d2-4a376e8a"
              class="w-layout-grid grid-21"
              id="grid121"
            >
              <div
                id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d3-4a376e8a"
                class="div-block-36"
                id="node1"
              >
                <h4 class="heading-24" id="block">
                  Additional Low (surface to <br />FL100)
                </h4>
              </div>
              <div
                id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d6-4a376e8a"
                class="div-block-36"
              >
                <h4 class="heading-24" id="heading224">View Image</h4>
              </div>
              <div
                id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d9-4a376e8a"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192da-4a376e8a"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192db-4a376e8a"
            class="div-block-452"
            *ngFor="let item of Sigwxl; let i = index"
            [ngClass]="i % 2 === 0 ? 'div-block-452' : 'div-block-38'"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192dd-4a376e8a"
                class="div-block-37"
              >
                <h4 class="heading-25">{{ getTimeFromFilenamexl(item) }}</h4>
              </div>
              <div
                id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192e0-4a376e8a"
                class="div-block-37"
              >
                <div
                  class="button-2-copy w-button"
                  id="view"
                  (click)="openImageViewer(item)"
                >
                  View
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />

    <div class="footerdiv" id="footerdivid1">
      <div (click)="NavigateToDomestic()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6
          class="heading-10-copy"
          id="styleh6"
          style="
            color: #fff;
            margin-top: 10px;
            margin-bottom: 0;
            font-family: Montserrat, sans-serif;
            text-decoration: none;
            font-size: 12px;
            margin-top: 4px;
          "
        >
          Domestic
        </h6>
      </div>
    </div>
  </div>
</ion-footer>
