<section class="sigwx-charts">
  <div class="div-block-2">
    <img
      src="images/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>

  <h1 class="heading-6">Significant Weather Charts</h1>
  <div style="overflow-y: auto; height: 32em">
    <div class="sigwx-div">
      <div class="button-2-copy w-button" id="symbol">Symbols</div>
      <div class="div-block-473">
        <div class="div-blue-copy"></div>
      </div>
      <div class="w-layout-grid sigwx-grid" id="chats">
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd5f8-4a376e8a"
          class="div-block-35"
        >
          <div class="w-layout-grid grid-21" id="grid121">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd5fa-4a376e8a"
              class="div-block-36"
              id="node1"
            >
              <h4 class="heading-24" id="block">
                Low level (surface to FL180)
              </h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd5fd-4a376e8a"
              class="div-block-36"
            >
              <h4 class="heading-24" id="heading224">View Image</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd600-4a376e8a"
              class="div-block-36"
            ></div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd601-4a376e8a"
              class="div-block-36"
            ></div>
          </div>
        </div>
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd602-4a376e8a"
          class="div-block-452"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd604-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">Most recent</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd607-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd60a-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd60c-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">A4-Size Images</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd60f-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd612-4a376e8a"
          class="div-block-453"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd614-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">00:00</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd617-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd61a-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd61c-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">03:00</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd61f-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd622-4a376e8a"
          class="div-block-454"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd624-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">06:00</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd627-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd62a-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd62c-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">09:00</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd62f-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd632-4a376e8a"
          class="div-block-455"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd634-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">12:00</h4>
            </div>
            <div
              id="w-node-_7ec0f248-8c49-e79b-077c-3294a36bd637-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View</a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0bd9eb75-4084-6720-88e4-dbff5b24c843-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0bd9eb75-4084-6720-88e4-dbff5b24c845-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">15:00</h4>
            </div>
            <div
              id="w-node-_0bd9eb75-4084-6720-88e4-dbff5b24c848-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-e530d3d4-40a9-fc71-0710-683d4dca0dae-4a376e8a"
          class="div-block-455"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-e530d3d4-40a9-fc71-0710-683d4dca0db0-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">18:00</h4>
            </div>
            <div
              id="w-node-e530d3d4-40a9-fc71-0710-683d4dca0db3-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View</a>
            </div>
          </div>
        </div>
        <div
          id="w-node-de1da29b-1b56-7bd0-bcf8-90ae5a0b3d4c-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-de1da29b-1b56-7bd0-bcf8-90ae5a0b3d4e-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">21:00</h4>
            </div>
            <div
              id="w-node-de1da29b-1b56-7bd0-bcf8-90ae5a0b3d51-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-grid sigwx-grid" id="chats">
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa58-4a376e8a"
          class="div-block-35"
        >
          <div
            id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa59-4a376e8a"
            class="w-layout-grid grid-21"
            id="grid121"
          >
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa5a-4a376e8a"
              class="div-block-36"
              id="node1"
            >
              <h4 class="heading-24" id="block">
                High level (above to FL180)
              </h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa5d-4a376e8a"
              class="div-block-36"
            >
              <h4 class="heading-24" id="heading224">View Image</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa60-4a376e8a"
              class="div-block-36"
            ></div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa61-4a376e8a"
              class="div-block-36"
            ></div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa62-4a376e8a"
          class="div-block-452"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa64-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">Most recent</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa67-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa6a-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa6c-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">A4-Size Images</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa6f-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa72-4a376e8a"
          class="div-block-453"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa74-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">00:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa77-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa7a-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa7c-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">03:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa7f-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa82-4a376e8a"
          class="div-block-454"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa84-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">06:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa87-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa8a-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa8c-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">09:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa8f-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa92-4a376e8a"
          class="div-block-455"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa94-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">12:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa97-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View</a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa9a-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa9c-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">15:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aa9f-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aaa2-4a376e8a"
          class="div-block-455"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aaa4-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">18:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aaa7-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View</a>
            </div>
          </div>
        </div>
        <div
          id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aaaa-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aaac-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">21:00</h4>
            </div>
            <div
              id="w-node-fa7cf422-81d9-8501-ac32-fa08ee40aaaf-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-grid sigwx-grid" id="chats">
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d1-4a376e8a"
          class="div-block-35"
        >
          <div
            id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d2-4a376e8a"
            class="w-layout-grid grid-21"
            id="grid121"
          >
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d3-4a376e8a"
              class="div-block-36"
              id="node1"
            >
              <h4 class="heading-24" id="block">
                Additional Low (surface to <br />FL100)
              </h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d6-4a376e8a"
              class="div-block-36"
            >
              <h4 class="heading-24" id="heading224">View Image</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192d9-4a376e8a"
              class="div-block-36"
            ></div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192da-4a376e8a"
              class="div-block-36"
            ></div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192db-4a376e8a"
          class="div-block-452"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192dd-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">Most recent</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192e0-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192e3-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192e5-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">A4-Size Images</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192e8-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192eb-4a376e8a"
          class="div-block-453"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192ed-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">00:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192f0-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192f3-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192f5-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">03:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192f8-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192fb-4a376e8a"
          class="div-block-454"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c192fd-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">06:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19300-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19303-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19305-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">09:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19308-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c1930b-4a376e8a"
          class="div-block-455"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c1930d-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">12:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19310-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View</a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19313-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19315-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">15:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19318-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c1931b-4a376e8a"
          class="div-block-455"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c1931d-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">18:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19320-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View</a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19323-4a376e8a"
          class="div-block-38"
        >
          <div class="w-layout-grid grid-22">
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19325-4a376e8a"
              class="div-block-37"
            >
              <h4 class="heading-25">21:00</h4>
            </div>
            <div
              id="w-node-_0b15b4bc-0f58-c34b-1ebe-e3cdd8c19328-4a376e8a"
              class="div-block-37"
            >
              <a href="#" class="button-2-copy w-button" id="view">View </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottomdiv">
    <img
      src="images/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv">
      <div class="link-block-5 w-inline-block">
        <img src="images/Group-4522.svg" loading="lazy" width="35" alt="" />
      </div>
    </div>
  </div>
</section>
