.package-page {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    // bottom: 0%;
    left: 0%;
    right: 0%;
    // margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
    // margin-bottom: 300px;

    top: 130px;
}


@media screen and (max-width: 991px) {
    .service-page {
        position: static;
        margin-top: 270px;
        margin-bottom: 300px;
    }

}

@media screen and (max-width: 767px) {
    .service-page {
        margin-top: 220px;
        margin-bottom: 270px;
    }
}

@media screen and (max-width: 479px) {
    .service-page {
        margin-top: 180px;
        margin-bottom: 180px;
    }
}