<ion-content>
  <div *ngIf="loading" class="loading-indicator">
    <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>
    Loading...
  </div>

  <section class="list-page">

    <div class="main-div-sub">
      <div class="fixed-heading">
        <h1 class="heading-6">Subscription</h1>
        <div class="w-layout-grid subscription-p-main-div">
          <div>
            <h4 class="field-label">Payment Type</h4>
            <div id="w-node-d5113b85-dffb-5330-a3a9-3c1251f6e32c-871273fb" class="div-block-521">
              <div (click)="selectPaymentType('monthly')" class="button-4 w-button"
                [class.active]="selectedPaymentType === 'monthly'">
                Monthly
              </div>
              <div (click)="selectPaymentType('annually')" class="button-4 w-button"
                [class.active]="selectedPaymentType === 'annually'">
                Annually
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <!-- <div class="w-layout-grid subscription-p-main-div">
          <div>
            <h4 class="field-label">Payment Type</h4>
            <div id="w-node-d5113b85-dffb-5330-a3a9-3c1251f6e32c-871273fb" class="div-block-521">
              <div (click)="selectPaymentType('monthly')" class="button-4 w-button"
                [class.active]="selectedPaymentType === 'monthly'">
                Monthly
              </div>
              <div (click)="selectPaymentType('annually')" class="button-4 w-button"
                [class.active]="selectedPaymentType === 'annually'">
                Annually
              </div>
            </div>
          </div>
        </div> -->

        <div class="div-block-15">
          <div class="div-block-60">
            <div class="w-layout-grid grid-34">

              <!-- Free Subscription -->
              <div id="w-node-_1c3f6fe6-e4db-7e6a-a477-03e3d9b9bab2-871273fb" class="div-block-54">
                <div class="w-layout-grid grid-33">
                  <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e2a-871273fb" class="div-block-53">
                    <h1 class="heading-47">Free {{selectedPaymentType}} Subscription</h1>
                  </div>
                  <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e2d-871273fb" class="div-block-57 html-embed-11">
                    <h1 class="heading-21-copy">R{{freeSubscriptionAmount.toFixed(2)}}</h1>

                    <div class="slider-container" (swipeleft)="nextSlide('free')" (swiperight)="prevSlide('free')">
                      <button class="arrow left-arrow" (click)="prevSlide('free')">&lt;</button>
                      <div class="slides-wrapper">
                        <div class="slide" *ngFor="let slide of freeSlides; let i = index"
                          [class.active]="i === currentFreeSlide">
                          <h1 class="service-types">{{ slide }}</h1>
                          <div class="w-embed list" *ngIf="i === currentFreeSlide">
                            <ul *ngIf="slide === 'International'">
                              <li>Graphics SIGMET/AIRMET</li>
                            </ul>
                            <ul *ngIf="slide === 'Observation'">
                              <li>METAR</li>
                              <li>Webcams</li>
                            </ul>
                            <ul *ngIf="slide === 'Forecast'">
                              <li>TAFS</li>
                              <li>SIGMET/AIRMET</li>
                              <li>Recent TAFs</li>
                              <li>Advisories</li>
                            </ul>
                            <ul *ngIf="slide === 'Other'">
                              <li>Edit personal Details</li>
                              <li>Manage Subscription</li>
                              <li>Messages</li>
                              <li>SIGMET Advisories</li>
                              <li>User/personal History</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <button class="arrow right-arrow" (click)="nextSlide('free')">&gt;</button>
                      <div class="slider-nav">
                        <span *ngFor="let slide of freeSlides; let i = index" class="dot"
                          [class.active]="i === currentFreeSlide" (click)="goToSlide(i, 'free')">
                        </span>
                      </div>
                    </div>

                  </div>
                  <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e46-871273fb" class="div-block-56">
                    <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e47-871273fb" class="div-block-55"></div>
                    <a class="button-2-copy w-button"
                      style="background-color: grey; display: flex; justify-content: center; align-items: center;"
                      (click)="CancelFreeSubscription()">
                      Free Services
                    </a>
                  </div>
                </div>
              </div>

              <!-- Premium -->
              <div id="w-node-_1c3f6fe6-e4db-7e6a-a477-03e3d9b9bab2-871273fb" class="div-block-54">
                <div class="w-layout-grid grid-33">
                  <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e2a-871273fb" class="div-block-53">
                    <h1 class="heading-47">Premium {{selectedPaymentType}} Subscription</h1>
                  </div>
                  <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e2d-871273fb" class="div-block-57 html-embed-11">
                    <h1 class="heading-21-copy">R{{premiumSubscriptionAmount.toFixed(2)}}</h1>

                    <div class="slider-container" (swipeleft)="nextSlide('premium')"
                      (swiperight)="prevSlide('premium')">
                      <button class="arrow left-arrow" (click)="prevSlide('premium')">&lt;</button>
                      <div class="slides-wrapper">
                        <div class="slide" *ngFor="let slide of premiumSlides; let i = index"
                          [class.active]="i === currentPremiumSlide">
                          <h1 class="service-types">{{ slide }}</h1>
                          <div class="w-embed list" *ngIf="i === currentPremiumSlide">
                            <ul *ngIf="slide === 'International'">
                              <li>GPM</li>
                              <li>Humidity</li>
                              <li>Sigwx Charts</li>
                              <li>Wind: Grid</li>
                              <li>Wind: Maximum</li>
                              <li>Image Browser</li>
                              <li>Graphical SIGMET/AIRMET</li>
                            </ul>
                            <ul *ngIf="slide === 'Domestic'">
                              <li>Flight Document</li>
                              <li>Hourly Charts</li>
                              <li>ICAO Locations</li>
                              <li>METAR Maps </li>
                              <li>QNH Chart</li>
                              <li>SIGWX Charts</li>
                              <li>Take-Off-Data</li>
                              <li>Warnings</li>
                              <li>Wind Charts</li>
                              <li>Low Level Wind Profiles</li>
                            </ul>
                            <ul *ngIf="slide === 'Flight Briefing'">
                              <li>Flight: Edit</li>
                              <li>Flight: Import/Export</li>
                              <li>Flight: Saved</li>
                              <li>Import Departure List</li>
                              <li>Scheduled Flight Report</li>
                              <li>Shared Flights</li>
                            </ul>
                            <ul *ngIf="slide === 'Observation'">
                              <li>METAR</li>
                              <li>Web Cams </li>
                              <li>Colour Coded METAR</li>
                              <li>METAR History</li>
                              <li>Recent METARs</li>
                              <li>SPECI</li>
                              <li>Recent METAR/TAFs</li>
                              <li>Radar products</li>
                              <li>Satellite</li>
                              <li>Weather Map </li>
                            </ul>
                            <ul *ngIf="slide === 'Forecast'">
                              <li>Colour Coded TAF</li>
                              <li>Colour Coded SIGMET/AIRMET</li>
                              <li>Colour Coded Warnings</li>
                              <li>SIGMET/AIRMET</li>
                              <li>Take-Off-Data</li>
                              <li>TAF Accuracy</li>
                              <li>Recent TAFs</li>
                              <li>TAF</li>
                              <li>TAF Accuracy</li>
                              <li>Trends</li>
                              <li>WAF Harmonized GRID Products</li>
                              <li>Advisories</li>
                              <li>Warnings</li>
                            </ul>
                            <ul *ngIf="slide === 'Aerospot'">
                              <li>Central Interior</li>
                              <li>Cloud Forest</li>
                              <li>Kwazulu Natal</li>
                              <li>Southwestern Cape</li>
                              <li>Spot Graph Map</li>
                              <li>Synoptic Analysis</li>
                              <li>TS Probabilities</li>
                            </ul>
                            <ul *ngIf="slide === 'Other'">
                              <li>Historical weather data</li>
                              <li>Edit personal Details</li>
                              <li>Manage Subscription</li>
                              <li>Messages</li>
                              <li>SIGMET Advisories</li>
                              <li>User/personal History</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <button class="arrow right-arrow" (click)="nextSlide('premium')">&gt;</button>
                      <div class="slider-nav">
                        <span *ngFor="let slide of premiumSlides; let i = index" class="dot"
                          [class.active]="i === currentPremiumSlide" (click)="goToSlide(i, 'premium')">
                        </span>
                      </div>
                    </div>

                  </div>
                  <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e46-871273fb" class="div-block-56">
                    <div id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e47-871273fb" class="div-block-55"></div>

                    <div *ngIf="!isSubscribedPremiumMonthly && selectedPaymentType === 'monthly'"
                      (click)="provideFeedback(premiumSubscriptionId, premiumSubscriptionAmount)"
                      class="button-2-copy w-button">Subscribe Now
                    </div>


                    <a *ngIf="isSubscribedPremiumMonthly && selectedPaymentType === 'monthly'"
                      (click)="CancelSubscription(premiumMontlySubscribedId)" class="button-2-copy w-button"
                      style="background-color: grey; display: flex; justify-content: center; align-items: center;">
                      Unsubscribe
                    </a>

                    <div *ngIf=" !isSubscribedPremiumAnnually && selectedPaymentType === 'annually'"
                      (click)="provideFeedback(premiumSubscriptionId, premiumSubscriptionAmount)"
                      class="button-2-copy w-button">Subscribe Now
                    </div>

                    <a *ngIf="isSubscribedPremiumAnnually && selectedPaymentType === 'annually'"
                      (click)="CancelSubscription(premiumAnnuallySubscribedId)" class="button-2-copy w-button"
                      style="background-color: grey; display: flex; justify-content: center; align-items: center;">
                      Unsubscribe
                    </a>
                  </div>
                </div>
              </div>

              <!-- Regulated -->
              <div class="div-block-54">
                <div class="w-layout-grid grid-33">
                  <div class="div-block-53">
                    <h1 class="heading-47">Regulated {{selectedPaymentType}} Subscription</h1>
                  </div>
                  <div class="div-block-57 html-embed-11">
                    <h1 class="heading-21-copy">R{{regulatedSubscriptionAmount.toFixed(2)}}</h1>

                    <div class="slider-container" (swipeleft)="nextSlide('regulated')"
                      (swiperight)="prevSlide('regulated')">
                      <button class="arrow left-arrow" (click)="prevSlide('regulated')">&lt;</button>
                      <div class="slides-wrapper">
                        <div class="slide" *ngFor="let slide of regulatedSlides; let i = index"
                          [class.active]="i === currentRegulatedSlide">
                          <h1 class="service-types">{{ slide }}</h1>
                          <div class="w-embed list" *ngIf="i === currentRegulatedSlide">
                            <ul *ngIf="slide === 'International'">
                              <li>GPM</li>
                              <li>Humidity</li>
                              <li>Sigwx Charts</li>
                              <li>Wind: Grid</li>
                              <li>Wind: Maximum</li>
                              <li>Image Browser</li>
                              <li>Graphical SIGMET/AIRMET</li>
                            </ul>
                            <ul *ngIf="slide === 'Domestic'">
                              <li>Flight Document</li>
                              <li>Hourly Charts</li>
                              <li>ICAO Locations</li>
                              <li>METAR Maps </li>
                              <li>QNH Chart</li>
                              <li>SIGWX Charts</li>
                              <li>Take-Off-Data</li>
                              <li>Warnings</li>
                              <li>Wind Charts</li>
                              <li>Low Level Wind Profiles</li>
                            </ul>
                            <ul *ngIf="slide === 'Flight Briefing'">
                              <li>Flight: Edit</li>
                              <li>Flight: Import/Export</li>
                              <li>Flight: Saved</li>
                              <li>Import Departure List</li>
                              <li>Scheduled Flight Report</li>
                              <li>Shared Flights</li>
                            </ul>
                            <ul *ngIf="slide === 'Observation'">
                              <li>METAR</li>
                              <li>Web Cams </li>
                              <li>Colour Coded METAR</li>
                              <li>METAR History</li>
                              <li>Recent METARs</li>
                              <li>SPECI</li>
                              <li>Recent METAR/TAFs</li>
                              <li>Radar products</li>
                              <li>Satellite</li>
                              <li>Weather Map </li>
                            </ul>
                            <ul *ngIf="slide === 'Forecast'">
                              <li>Colour Coded TAF</li>
                              <li>Colour Coded SIGMET/AIRMET</li>
                              <li>Colour Coded Warnings</li>
                              <li>SIGMET/AIRMET</li>
                              <li>Take-Off-Data</li>
                              <li>TAF Accuracy</li>
                              <li>Recent TAFs</li>
                              <li>TAF</li>
                              <li>TAF Accuracy</li>
                              <li>Trends</li>
                              <li>WAF Harmonized GRID Products</li>
                              <li>Advisories</li>
                              <li>Warnings</li>
                            </ul>
                            <ul *ngIf="slide === 'Aerospot'">
                              <li>Central Interior</li>
                              <li>Cloud Forest</li>
                              <li>Kwazulu Natal</li>
                              <li>Southwestern Cape</li>
                              <li>Spot Graph Map</li>
                              <li>Synoptic Analysis</li>
                              <li>TS Probabilities</li>
                            </ul>
                            <ul *ngIf="slide === 'Other'">
                              <li>Historical weather data</li>
                              <li>Edit personal Details</li>
                              <li>Manage Subscription</li>
                              <li>Messages</li>
                              <li>SIGMET Advisories</li>
                              <li>User/personal History</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <button class="arrow right-arrow" (click)="nextSlide('regulated')">&gt;</button>
                      <div class="slider-nav">
                        <span *ngFor="let slide of regulatedSlides; let i = index" class="dot"
                          [class.active]="i === currentRegulatedSlide" (click)="goToSlide(i, 'regulated')">
                        </span>
                      </div>
                    </div>

                  </div>
                  <div class="div-block-56">
                    <div class="div-block-55"></div>

                    <a *ngIf="!isSubscriberRegulatedMonthly && selectedPaymentType === 'monthly'"
                      (click)="provideFeedback(regulatedSubscriptionId, regulatedSubscriptionAmount)"
                      class="button-2-copy w-button">Subscribe Now
                    </a>

                    <a id="open-action-sheet" *ngIf="isSubscriberRegulatedMonthly && selectedPaymentType === 'monthly'"
                      (click)="CancelSubscription(regulateMonthlydSubscribedId)" class="button-2-copy w-button"
                      style="background-color: grey; display: flex; justify-content: center; align-items: center;">
                      Unsubscribe
                    </a>

                    <a *ngIf="!isSubscriberRegulatedAnnually && selectedPaymentType === 'annually'"
                      (click)="provideFeedback(regulatedSubscriptionId, regulatedSubscriptionAmount)"
                      class="button-2-copy w-button">Subscribe Now
                    </a>

                    <a *ngIf="isSubscriberRegulatedAnnually && selectedPaymentType === 'annually'"
                      (click)="CancelSubscription(regulateAnnuallydSubscribedId)" class="button-2-copy w-button"
                      style="background-color: grey; display: flex; justify-content: center; align-items: center;">
                      Unsubscribe
                    </a>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</ion-content>

<!-- <ion-footer class="ion-no-border">
  <div class="">
    <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" />
    <div class="footerdiv">
      <a (click)="NavigateToLandingPage()" class="link-block-5 w-inline-block"
        style="position: relative; top: -11px"><img src="../../assets/Group-3489.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" style="
            color: #fff;
            margin-top: 9px;
            margin-bottom: 0;
            font-family: Montserrat, sans-serif;
            text-decoration: none;
            font-size: 12px;
            margin-top: 4px;
          "></h6>
      </a>
    </div>
  </div>
</ion-footer> -->

<ion-footer class="ion-no-border">
  <div class="">
    <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" />
    <div class="footerdiv">
      <a (click)="NavigateToLandingPage()" class="link-block-5 w-inline-block"
        style="position: relative; top: -11px"><img src="../../assets/Group-3489.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" style="
            color: #fff;
            margin-top: 9px;
            margin-bottom: 0;
            font-family: Montserrat, sans-serif;
            text-decoration: none;
            font-size: 12px;
            margin-top: 4px;
          "></h6>
      </a>
    </div>
  </div>
</ion-footer>