.list-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 479px) {}