<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header class="package-header">
      Colour Coded METAR
    </app-package-header>

    <app-package-sub-header>
      <div
        id="w-node-e7ec9294-4182-a125-c428-84c8c81f6e70-5aa24fea"
        class="w-layout-grid grid-cct-copy"
      >
        <div
          id="w-node-_211f6e7f-4ab3-965d-1518-9c1f84dfceec-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Date:</h1>
          <h1 class="heading-8">{{ currentDate }}</h1>
        </div>
        <div
          id="w-node-_2ef88a37-3b9e-7fec-658a-a6f84d594d57-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Time:</h1>
          <h1 class="heading-8">{{ currentTime }}</h1>
        </div>
      </div>
    </app-package-sub-header>
    <app-package-list-items>
      <div class="w-layout-grid grid-6" id="layout">
        <div
          id="w-node-f5bb06e8-f72c-b502-4775-b999902099d0-5aa24fea"
          class="div-block-14-copy"
        >
          <div>
            <h5 class="heading-9">Query Metar</h5>
            <!-- Form to handle search functionality -->
            <form (submit)="onSearch()" class="search w-form">
              <!-- Bind the search input to the searchQuery property -->
              <input
                [(ngModel)]="searchQuery"
                class="search-input w-input"
                maxlength="256"
                name="query"
                placeholder="Search…"
                type="search"
                id="search"
                required
              />
              <input
                type="submit"
                class="search-button w-button"
                value="Search"
              />
            </form>
          </div>
        </div>
     <ng-container *ngFor="let province of objectKeys(groupedReportsByProvince)">
  <div class="div-block-15">
    <!-- Display province heading only once -->
    <h1 class="heading-22">{{ province }}</h1>

    <div class="div-block-32">
      <div class="w-layout-grid ccta-grid">
        <div class="cct-copy-copy">
         <div class="button w-button" id="Normal" (click)="toggleCoded()">
  {{ coded ? 'Normal' : 'Color Coded' }}
</div>
        
        </div>
        <div class="cct-copy">
          <div class="button-2 w-button" (click)="ViewColorCodedStyle()">Colour / Style Index</div>
        </div>
      </div>
    </div>

    <!-- Loop through each report in the province -->
    <div *ngFor="let report of groupedReportsByProvince[province]">
      <div class="w-layout-grid heading-text">
        <div class="cct-copy-copy">
         <h1 *ngIf="!coded" class="heading-21" style="white-space: pre-wrap;">
  {{ report.filecontent }}
</h1>

<!-- Show color-coded version if coded -->
<h1 *ngIf="coded" class="heading-21" style="white-space: pre-wrap;" [innerHTML]="parseColorCoded(report.filecontent)">
</h1>
        </div>
        <div class="cct-copy">
          <div class="button-2-copy w-button" (click)="ImageViewer(report)">
            View Decoded
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer *ngIf="!isKeyboardVisible"></app-footer>

<div class="footerdiv" *ngIf="!isKeyboardVisible">
  <div (click)="navigateToObservation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Observation
    </h6>
  </div>
</div>
