<ion-content>
  <app-loading *ngIf="loading" class="loading-indicator">
    <!-- <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>Loading... -->
  </app-loading>

  <app-package-list-items>
    <div class="div-block-2">
      <img src="images/Path-3452.svg" loading="lazy" width="1216" alt="" class="image">
    </div>

    <!-- <h1 class="heading-6">nsWEBPIB Query</h1> -->
    <app-package-header>
      nsWEBPIB Query
    </app-package-header>

    <div >
      <div class="edit-flight-div">
        <div class="w-layout-grid grid-42">
          <div id="w-node-db8303b9-23b4-91f6-d1e3-4ad3c3e9df85-07cb82d5" class="div-block-471"
            style="margin-top: -8px;">
            <img src="../../assets/Mask-Group-28.svg" loading="lazy" alt="">
            <h3 class="heading-49">Scheduling <br>Options</h3>
          </div>
          <div id="w-node-f0d9d6d5-5c8a-19cb-657c-78eea791915e-07cb82d5" class="div-block-471">
            <img src="../../assets/Icon-ionic-ios-folder.svg" loading="lazy" alt="">
            <h3 class="heading-49">Folder Format Settings</h3>
          </div>
          <div id="w-node-e0a4dcc2-7287-193f-9f87-4ce3e4e69ddf-07cb82d5" class="div-block-471">
            <img src="../../assets/content-management.svg" loading="lazy" alt="">
            <h3 class="heading-49">Generate <br>Document</h3>
          </div>
          <div id="w-node-c8b58079-d1bc-ab6a-7a9f-97eff9b0fde3-07cb82d5" class="div-block-471">
            <img src="../../assets/pilot.svg" loading="lazy" alt="">
            <h3 class="heading-49">Operation <br>Information</h3>
          </div>
          <div id="w-node-ac96661a-f28d-f1fe-af74-56e4d9825879-07cb82d5" class="div-block-471">
            <img src="../../assets/export-disc-data.svg" loading="lazy" alt="">
            <h3 class="heading-49">Generate to <br>Output</h3>
          </div>
        </div>
        <div id="w-node-_77696ce3-7380-4eb2-0bdf-e95602971cf5-07cb82d5">
          <div id="w-node-ec2b763d-5b41-cb97-220a-665b94f8ff62-07cb82d5" class="div-block-14">
            <h5 class="heading-9" style="position: relative;
            top: 21px;">Search</h5>
            <form action="/search" class="search-copy w-form">
              <input class="search-input w-input" maxlength="256" name="query" placeholder="Search…" type="search"
                id="search" required="">
              <input type="submit" class="search-button w-button" value="Search">
            </form>
          </div>
          <div id="w-node-df5f50f1-8d35-aa2e-8867-57e80d178335-07cb82d5" class="div-off">
            <div class="w-form">
              <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get"
                data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="df5f50f1-8d35-aa2e-8867-57e80d178337">
                <label for="field-2" class="heading-9">Select a Saved template</label>
              </form>
              <div class="w-form-done">
              </div>
              <div class="w-form-fail">
              </div>
            </div>
            <div data-hover="false" data-delay="0" (click)="selectDropdown('dropdown2')"
              class="template-select w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-2 w-icon-dropdown-toggle" id="icon2"></div>
                <div class="text-block">{{selectedOption2}}</div>
              </div>
              <nav class="dropdown-list1" *ngIf="isDropdownOpen2">
                <div class="w-dropdown-link" (click)="selectOption('','dropdown2')">1 Min</div>
                <div class="w-dropdown-link" (click)="selectOption('','dropdown2')">2 Min</div>
                <div class="w-dropdown-link" (click)="selectOption('','dropdown2')">3 Min</div>
                <div class="w-dropdown-link" (click)="selectOption('','dropdown2')">4 Min</div>
              </nav>
            </div>
          </div>
        </div>
        <h1 class="heading-6">Flight definition</h1>
        <div class="w-layout-grid edit-flight-grid">
          <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba456-07cb82d5" class="div-white-and-borders">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba458-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>Flight name/number</strong></h4>
              </div>
              <div id="w-node-_496d1ff9-7392-437a-4978-6791e9330dc9-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="496d1ff9-7392-437a-4978-6791e9330dcb">
                    <div class="div-block-470"><input class="text-field-blue-borders w-input" maxlength="256"
                        name="field-2" data-name="Field 2" placeholder="" type="text" id="field-2" required=""></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba468-07cb82d5" class="div-blue-copy">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba46a-07cb82d5" class="div-block-48">
                <h4 class="heading-21">
                  <strong>Departure</strong>
                </h4>
              </div>
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba46d-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="402f0a29-7fb8-8334-0d00-9b68054ba46f">
                    <div class="div-block-470">
                      <input class="text-field-blue-borders w-input" maxlength="256" name="field-2" data-name="Field 2"
                        placeholder="" type="text" id="field-2" required="">
                    </div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba478-07cb82d5" class="div-white-and-borders">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba47a-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>En-route</strong></h4>
              </div>
              <div id="w-node-_982711d9-9af5-f177-77fd-72bfbd252913-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="982711d9-9af5-f177-77fd-72bfbd252915">
                    <div class="div-block-470"><input class="text-field-blue-borders w-input" maxlength="256"
                        name="field-2" data-name="Field 2" placeholder="" type="text" id="field-2" required=""></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba48a-07cb82d5" class="div-blue-copy">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba48c-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>Destination</strong></h4>
              </div>
              <div id="w-node-_460adfe8-0fbf-3f6f-7878-96c2f5a33ffd-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="460adfe8-0fbf-3f6f-7878-96c2f5a33fff">
                    <div class="div-block-470"><input class="text-field-blue-borders w-input" maxlength="256"
                        name="field-2" data-name="Field 2" placeholder="" type="text" id="field-2" required=""></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba49c-07cb82d5" class="div-white-and-borders">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba49e-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>ETD (UTC)</strong> (HHMM)</h4>
              </div>
              <div id="w-node-_6a515ac2-6090-0fcb-1cb7-c2aa6c44c384-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="6a515ac2-6090-0fcb-1cb7-c2aa6c44c386">
                    <div class="div-block-470"><input class="text-field-blue-borders w-input" maxlength="256"
                        name="field-2" data-name="Field 2" placeholder="" type="text" id="field-2" required=""></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4ae-07cb82d5" class="div-blue-copy">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4b0-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>ETE (Duration)</strong> (HHMM)</h4>
              </div>
              <div id="w-node-_0a45ef99-7912-a595-160d-e4ce47e36b15-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="0a45ef99-7912-a595-160d-e4ce47e36b17">
                    <div class="div-block-470"><input class="text-field-blue-borders w-input" maxlength="256"
                        name="field-2" data-name="Field 2" placeholder="" type="text" id="field-2" required=""></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4d2-07cb82d5" class="div-white-and-borders">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4d4-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>VFR</strong></h4>
              </div>
              <div id="w-node-ded22911-d09f-1928-b906-79e913e1a0fb-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="ded22911-d09f-1928-b906-79e913e1a0fd"><label
                      class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                        data-name="Checkbox 2" class="w-checkbox-input checkbox"><span
                        class="checkbox-label-2 w-form-label" for="checkbox-2"></span></label></form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-bd7ae276-4c74-c2a3-3224-c36061e5e367-07cb82d5" class="div-blue-copy">
            <div class="w-layout-grid grid-27">
              <div id="w-node-bd7ae276-4c74-c2a3-3224-c36061e5e369-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>Include Cross Section</strong></h4>
              </div>
              <div id="w-node-_42186cc3-33ea-8c9a-884a-9f2800466b13-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="42186cc3-33ea-8c9a-884a-9f2800466b15"><label
                      class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                        data-name="Checkbox 2" class="w-checkbox-input checkbox"><span
                        class="checkbox-label-2 w-form-label" for="checkbox-2"></span></label></form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_8d08ab63-9ea1-978f-8354-82f70af1b61d-07cb82d5" class="div-white-and-borders">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_8d08ab63-9ea1-978f-8354-82f70af1b61f-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>Include Advisories</strong></h4>
              </div>
              <div id="w-node-_68c50297-5a45-6ae8-4483-216ee779751d-07cb82d5" class="div-block-48-copy">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="68c50297-5a45-6ae8-4483-216ee779751f">
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">Space Weather</span>
                      </label><label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">Cyclone</span>
                      </label>
                      <label class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2"
                          name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">Volash</span></label>
                    </div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_44d2bd01-e11f-f87a-c533-5a635fa727b4-07cb82d5" class="div-blue-copy">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_44d2bd01-e11f-f87a-c533-5a635fa727b6-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>Include Takeoff</strong></h4>
              </div>
              <div id="w-node-_44d2bd01-e11f-f87a-c533-5a635fa727ba-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="44d2bd01-e11f-f87a-c533-5a635fa727bc"><label
                      class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                        data-name="Checkbox 2" class="w-checkbox-input checkbox"><span
                        class="checkbox-label-2 w-form-label" for="checkbox-2"></span></label></form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_704bc6eb-029c-bf1f-f730-6cca0ccb9fca-07cb82d5" class="div-white-and-borders">
            <div class="w-layout-grid grid-27">
              <div id="w-node-_704bc6eb-029c-bf1f-f730-6cca0ccb9fcc-07cb82d5" class="div-block-48">
                <h4 class="heading-21"><strong>Include Aispib</strong></h4>
              </div>
              <div id="w-node-_704bc6eb-029c-bf1f-f730-6cca0ccb9fd0-07cb82d5" class="div-block-48">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="704bc6eb-029c-bf1f-f730-6cca0ccb9fd2">
                    <label class="w-checkbox checkbox-field-6">
                      <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                        class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label"
                        for="checkbox-2"></span></label>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading-6"><strong>Corridor width</strong></h1>
          <div class="w-form">
            <form id="email-form-4" name="email-form-4" data-name="Email Form 4" method="get"
              data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="4d047cef-83c1-468a-ec09-6f695f226806">
              <div class="div-block-474"><label class="w-radio"><input type="radio" data-name="Radio" id="radio"
                    name="radio" class="w-form-formradioinput w-radio-input" value="Radio">
                  <span class="w-form-label" for="radio" style="position: relative;
                top: 2px;">
                    <strong>Narrow (20NM)</strong></span>
                </label><label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 2" id="radio-2" name="radio"
                    class="w-form-formradioinput w-radio-input" value="Radio">
                  <span class="w-form-label" for="radio-2" style="position: relative;
                top: 2px;"><strong>Wide (150NM)</strong></span></label>
                <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 3" id="radio-3" name="radio"
                    class="w-form-formradioinput w-radio-input" value="Radio"><span
                    class="radio-button-label w-form-label" for="radio-3" style="position: relative;
                  top: 2px;">
                    <strong>Wide (150NM)</strong></span></label><input class="text-field-blue-borders-copy-copy w-input"
                  maxlength="256" name="field-3" data-name="Field 3" placeholder="Example Text" type="text" id="fieldb"
                  required=""><label class="radio-button-field-copy w-radio"><input type="radio" data-name="Radio 4"
                    id="radio-4" name="radio" class="w-form-formradioinput radio-button w-radio-input"
                    value="Radio"><span class="w-form-label" for="radio-4"><strong>NM</strong></span></label>
              </div>
            </form>
            <div class="w-form-done">
            </div>
            <div class="w-form-fail">
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading-6"><strong>Other aerodromes &amp; Stations</strong></h1>
          <div class="w-layout-grid grid-44">
            <div id="w-node-d3ef4908-921f-12e8-b2d3-661810e9695d-07cb82d5" class="div-block-471"><img
                src="../../assets/Icon-metro-calculator.svg" loading="lazy" alt="">
              <h3 class="heading-49">Calculate Default<br>values </h3>
            </div>
            <div id="w-node-eff414db-701b-4cd1-e918-b7936b388863-07cb82d5" class="div-block-471"><img
                src="../../assets/flight-ticket.svg" loading="lazy" alt="">
              <h3 class="heading-49">Station Met<br>
              </h3>
            </div>
            <div id="w-node-f6b01332-6dee-63c3-db4c-720af43c3c57-07cb82d5" class="div-block-471"><img
                src="../../assets/flight-information.svg" loading="lazy" alt="">
              <h3 class="heading-49">FIR / UIR Met<br>
                <br>
              </h3>
            </div>
          </div>
          <div class="div-block-475">
            <div class="form-block-2 w-form">
              <form id="email-form-5" name="email-form-5" data-name="Email Form 5" method="get" class="form-4"
                data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="74361e63-8fa9-ebc0-33a0-cc034c8cb31e">
                <div class="div-block-476"><label for="name" class="heading-9"><strong>Other Aerodromes
                      (Alternates)</strong></label><textarea placeholder="Example Text" maxlength="5000" id="field-4"
                    name="field-4" style="width: 85vw;" data-name="Field 4"
                    class="text-field-blue-borders w-input"></textarea></div>
                <div class="div-block-476"><label for="email"><strong>FIR/UIRs</strong></label><input
                    style="width: 85vw;" class="text-field-blue-borders w-input" maxlength="256" name="email"
                    data-name="Email" placeholder="" type="email" id="email" required=""></div>
              </form>
              <div class="w-form-done">
              </div>
              <div class="w-form-fail">
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading-6"><strong>Significant Weather Charts</strong></h1>
          <div class="div-block-478">
            <h4 class="heading-6-copy"><strong style="padding-left: 30px;">Flight levels</strong></h4>
            <div class="button-2-copy w-button" style="position: relative;
            left: -31px;">Clear All</div>
          </div>
          <div class="w-layout-grid grid-45">
            <div id="w-node-efc03fed-2f85-2dba-f792-0c6cb6252284-07cb82d5" class="div-block-48-copy">
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                  data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="efc03fed-2f85-2dba-f792-0c6cb6252286">
                  <div class="div-blue-copy">
                    <div class="div-block-477"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">Default Low
                          Level</span></label></div>
                  </div>
                </form>
                <div class="w-form-done">
                </div>
                <div class="w-form-fail">
                </div>
              </div>
              <div id="w-node-_76a3cde3-4699-b545-b8c2-6142bf50e392-07cb82d5" class="div-block-48-copy">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="76a3cde3-4699-b545-b8c2-6142bf50e394">
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2"
                          name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL050</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL140</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL240</span></label>
                    </div>
                    <div class="div-block-477"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> FL320</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> FL390</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL480</span></label></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>

            <!-- end1 -->

            <div id="w-node-efc03fed-2f85-2dba-f792-0c6cb6252284-07cb82d5" class="div-block-48-copy">
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                  data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="efc03fed-2f85-2dba-f792-0c6cb6252286">
                  <div class="div-blue-copy">
                    <div class="div-block-477"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">Default Medium
                          Level</span></label></div>
                  </div>
                </form>
                <div class="w-form-done">
                </div>
                <div class="w-form-fail">
                </div>
              </div>
              <div id="w-node-_76a3cde3-4699-b545-b8c2-6142bf50e392-07cb82d5" class="div-block-48-copy">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="76a3cde3-4699-b545-b8c2-6142bf50e394">
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">FL050</span></label><label class="w-checkbox checkbox-field-6"><input
                          type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">FL140</span></label><label class="w-checkbox checkbox-field-6"><input
                          type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">FL240</span></label>
                    </div>
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label" for="checkbox-2">
                          FL320</span></label><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> FL390</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL480</span></label>
                    </div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>


            <div id="w-node-efc03fed-2f85-2dba-f792-0c6cb6252284-07cb82d5" class="div-block-48-copy">
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                  data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="efc03fed-2f85-2dba-f792-0c6cb6252286">
                  <div class="div-blue-copy">
                    <div class="div-block-477"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">Default High
                          Level</span></label></div>
                  </div>
                </form>
                <div class="w-form-done">
                </div>
                <div class="w-form-fail">
                </div>
              </div>
              <div id="w-node-_76a3cde3-4699-b545-b8c2-6142bf50e392-07cb82d5" class="div-block-48-copy">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="76a3cde3-4699-b545-b8c2-6142bf50e394">
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label" for="checkbox-2">
                          FL300</span></label><label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL210</span>
                      </label><label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL100</span>
                      </label>
                    </div>
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2"> FL450</span>
                      </label><label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2"> FL390</span>
                      </label><label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">FL360</span></label>
                    </div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="div-block-473">
          <h1 class="heading-6"><strong>Charts</strong></h1>
          <div class="div-block-478">
            <div class="button-2-copy w-button">Clear All</div>
          </div>
          <div class="w-layout-grid grid-45">
            <div id="w-node-c5cf66c6-a6b4-59fc-bdba-80e505b9246f-07cb82d5" class="div-block-48-copy">
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                  data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="c5cf66c6-a6b4-59fc-bdba-80e505b92471">
                  <div class="div-blue-copy"></div>
                </form>
                <div class="w-form-done">
                </div>
                <div class="w-form-fail">
                </div>
              </div>
              <div id="w-node-c5cf66c6-a6b4-59fc-bdba-80e505b9247e-07cb82d5" class="div-block-48-copy">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="c5cf66c6-a6b4-59fc-bdba-80e505b92480">
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2">ROUTE</span></label><label
                        class="w-checkbox checkbox-field-6" style="position: relative;
                      right: 7px;"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">EUR</span></label><label class="w-checkbox checkbox-field-6"><input
                          type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label" for="checkbox-2">
                          SIO<br>(AREA-K)</span></label></div>
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">EURAFI<br>(AREA-C)</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">
                          AFRASIA<br>(AREA-D)</span></label><label class="w-checkbox checkbox-field-6"><input
                          type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">EURSAM<br>(AREA-B)</span></label></div>
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label" for="checkbox-2"> NAT<br>(AREA-H)</span>
                      </label>
                      <label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">EURSAM<br>(AREA-B)</span></label>
                      <label class="w-checkbox checkbox-field-6">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz">
                        <span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">EURSAM<br>(AREA-C)</span></label>
                    </div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading-6"><strong>Wind/Temp Charts</strong></h1>
          <div class="div-block-478">
            <div class="button-2-copy w-button">Clear All</div>
          </div>
          <div class="w-layout-grid grid-45">
            <div id="w-node-aefede39-07b6-5ee7-7b5e-7b48aac0c383-07cb82d5" class="div-block-48-copy">
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                  data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="aefede39-07b6-5ee7-7b5e-7b48aac0c385">
                  <div class="div-blue-copy"></div>
                </form>
                <div class="w-form-done">
                </div>
                <div class="w-form-fail">
                </div>
              </div>
              <div id="w-node-aefede39-07b6-5ee7-7b5e-7b48aac0c38d-07cb82d5" class="div-block-48-copy"
                style="flex-flow: column !important;">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="aefede39-07b6-5ee7-7b5e-7b48aac0c38f">
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> ROUTE</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">SIO
                          <br>(AREA-K)</span></label><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> WEST</span></label></div>
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> NAMAFR</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> AFRICA</span></label><label
                        class="w-checkbox checkbox-field-6" style="position: relative;
                      left: 22px;"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">EURAFI<br>(AREA-C)</span></label></div>
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2"> EAST</span></label></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading-6"><strong>Other Charts and Images </strong></h1>
          <div class="div-block-478">
            <h4 class="heading-6-copy" style="padding-left: 44px;"><strong>Local Charts</strong></h4>
            <div class="button-2-copy w-button" style="position: relative;
            left: -41px;">Clear All</div>
          </div>
          <div class="w-layout-grid grid-45">
            <div id="w-node-d415e410-eac3-fafe-d196-dd6250301fd6-07cb82d5" class="div-block-48-copy">
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                  data-wf-page-id="660b9e8f66bf590207cb82d5" data-wf-element-id="d415e410-eac3-fafe-d196-dd6250301fd8">
                  <div class="div-blue-copy"></div>
                </form>
                <div class="w-form-done">
                </div>
                <div class="w-form-fail">
                </div>
              </div>
              <div id="w-node-d415e410-eac3-fafe-d196-dd6250301fe0-07cb82d5" class="div-block-48-copy">
                <div class="w-form">
                  <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="d415e410-eac3-fafe-d196-dd6250301fe2">
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2">Block<br>Winds:Low</span></label><label
                        class="w-checkbox checkbox-field-6"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                          data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">Block
                          <br>Winds:High</span></label><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">Block<br>Winds:Low</span></label>
                    </div>
                    <div class="div-block-470"><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">
                          UK<br>VolcanicAsh</span></label><label class="w-checkbox checkbox-field-6"><input
                          type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                          class="w-checkbox-input zz"><span class="checkbox-label-2-copy w-form-label" for="checkbox-2">
                          High </span></label><label class="w-checkbox checkbox-field-6"><input type="checkbox"
                          id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input zz"><span
                          class="checkbox-label-2-copy w-form-label" for="checkbox-2">Low </span></label></div>
                  </form>
                  <div class="w-form-done">
                  </div>
                  <div class="w-form-fail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid grid-42">
          <div id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fceea-07cb82d5" class="div-block-471"><img
              src="../../assets/Icon-ionic-ios-folder.svg" loading="lazy" alt="">
            <h3 class="heading-49">Folder Format <br>Settings</h3>
          </div>
          <div id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcef0-07cb82d5" class="div-block-471"><img
              src="../../assets/Layer-2.svg" loading="lazy" alt="">
            <h3 class="heading-49">Save Flight<br>
            </h3>
          </div>
          <div id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcef4-07cb82d5" class="div-block-471"><img
              src="../../assets/route.svg" loading="lazy" alt="">
            <h3 class="heading-49">Route <br>Building</h3>
          </div>
          <div id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcefa-07cb82d5" class="div-block-471"><img
              src="../../assets/Icon-material-cancel.svg" loading="lazy" alt="">
            <h3 class="heading-49">Clear All<br>
            </h3>
          </div>
          <div id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcf00-07cb82d5" class="div-block-471"><img
              src="../../assets/content-management.svg" loading="lazy" alt="">
            <h3 class="heading-49">Generate <br>Document</h3>
          </div>
          <div id="w-node-f38dc051-43ea-93b2-0091-e770f58a5b12-07cb82d5" class="div-block-471"><img
              src="../../assets/Icon-metro-calculator.svg" loading="lazy" alt="">
            <h3 class="heading-49">Calculate <br>Default Value</h3>
          </div>
        </div>
      </div>
    </div>

  </app-package-list-items>

</ion-content>
<ion-footer class="ion-no-border">
  <div class="">
    <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" class="image" />

    <div class="footerdiv" id="footerdivid">
      <a (click)="NavigateToFlightBriefing()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" id="styleh6">
          Flight Briefing</h6>
      </a>
    </div>
  </div>
</ion-footer>