.div-block-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-image,
.left-aligned-menu-button {
  width: 50%; /* Each image takes 50% of the container */
}
.round-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  margin-top: -34px;
  margin-left: -204px;
  margin-bottom: 90px;
}

.mobile-images {
  width: 100%;
  height: 77%;
}
.bottomdiv2 {
  position: fixed;
  margin-top: 180%;
}
.div-block {
  margin-top: 152px;
}

.login-for {
  margin-top: -15px;
}

.advertisement-container {
  height: auto; /* Adjusts based on content */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures no overflow issues */
  width: 89vw;
  margin-bottom: 3px;
}
@media (max-width: 429px) {
  /* Styles specifically for very small screens (phones with max width 429px) */
  .advertisement-image {
    width: 81vw;
    height: auto;
    max-height: 5vh;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .advertisement-image {
    width: 61vw;
    max-height: 11vh;
    margin-bottom: 13px;
  }
}
