.package-heading {
    position: sticky;
}

.heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
}


@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 479px) {}