<ion-content
  [fullscreen]="true"
  style="box-sizing: border-box; padding-bottom: 20px"
>
  <section class="aerosport-ci" style="margin-top: 25%">
    <h1 class="heading-6">Synoptic Analysis</h1>
    <div class="aerosport">
      <div>
        <div class="div-block-464">
          <div class="w-slider-mask prev" style="margin-top: 84px">
            <img
              [src]="fileBaseUrlSynoptic"
              *ngIf="!isLoading && fileBaseUrlSynoptic"
              loading="lazy"
              width="1216"
              alt="Synoptic Analysis Image"
              class="image"
           
            />
            <div *ngIf="isLoading">Loading...</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />

    <div class="footerdiv" id="footerdivid">
      <a (click)="NavigateToAerosport()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" id="styleh6">Aerosport</h6>
      </a>
    </div>
  </div>
</ion-footer>
