<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header class="package-header">
      Synoptic Analysis
      <span class="current-date">
        <ion-button
          expand="full"
          (click)="rotateImage()"
          class="rotate-button"
          style="
            --background: #28a745;
            --background-activated: #219638;
            --background-hover: #36b55b;
          "
        >
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <!-- <ion-button expand="full" (click)="rotateImage()" class="rotate-button">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button> -->
      </span>
    </app-package-header>

    <app-package-sub-header></app-package-sub-header>

    <div class="listapp">
      <div class="image-container">
        <pinch-zoom *ngIf="!loading && fileBaseUrlSynoptic">
          <img
            [style.transform]="'rotate(' + rotationDegree + 'deg) scale(' + scale + ')'"
            [src]="fileBaseUrlSynoptic"
            loading="lazy"
            class="responsive-image"
            alt="Synoptic Analysis Image"
            (pinch)="onPinch($event)"
          />
        </pinch-zoom>
      </div>
    </div>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToAerosport()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Aerosport
    </h6>
  </div>
</div>
