<ion-content>
  <div *ngIf="loading" class="loading-indicator">
    <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>Loading...
  </div>

  <div id="top"></div>
  <app-package-content>
    <app-package-header> Image Browser</app-package-header>
    <app-package-sub-header
      ><h1 class="sub-headings">Browsing miscellaneous images ()</h1>
    </app-package-sub-header>

    <app-package-list-items> </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToInternational()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      International
    </h6>
  </div>
</div>
