.heading-5 {
  font-size: 14px;
  color: #002f5a;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.div-block-473 {
  flex-flow: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.hourly-charts-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
#footerdivid1{
  margin-top: -73px;
    padding-top: 0;
}
.charts-div-sub {
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.hourly-charts-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.charts-div-sub {
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.heading-6-copy {
  color: #002b53;
  text-align: center;
  margin: 16px 40px 0 10px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 40px;
}
.button-2-copy {
  background-color: #00386c;
  border-radius: 5px !important;
  margin: 20px 0 0 20px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
    padding-right: 15px;
    padding-left: 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
.div-block-48-copy {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}
.qnh-heading {
  color: #00386c;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat, sans-serif;
}
#grid{
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto !important;
  // grid-template-columns: 1fr 1fr;
  grid-auto-columns: 0fr !important;
  // display: grid !important;
}
.lowlevel-grid {
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  margin-bottom: 10px;
}

#heading24{
  position: relative;
  top: 13px;
  font-size: 12px;
}
.div-block-14 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}
#issue {
  font-size: 12px !important;
}
.grid-19 {
  grid-template-rows: auto;
}
.heading-23 {
  color: #00386c;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
#fact{
  color: #00386c;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
}

.div-block-479 {
  background-image: linear-gradient(#abb9c6, #abb9c6);
  border: 2px dashed #00386c;
  border-radius: 10px;
  padding: 10px;
}
.paragraph-13 {
  color: #00386c;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.grid-21-copy {
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.grid-43 {
  justify-content: space-around;
  display: flex;
}
#footerdivid1 {
  position: relative;
  top: -5px;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  
}
#icon3 {
    margin-left: 68px !important;
}
#bluew{
     width: 27vw !important;
    margin-top: 20px !important;
    margin-left: -15px !important;
    // height: 24px !important;
}
.datacape{
  color: #00386c;
  // text-align: center;
  // margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px !important;
  font-weight: 400;
}
#take{
  grid-row-gap: 0px !important;
  grid-column-gap: 10px !important;
}
#grid20{
  grid-row-gap: 0px !important;
  grid-column-gap: 16px !important;
}
.grid-22 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
}
.sub-headings-wind {
  color: #002b53;
  font-family: Montserrat, sans-serif;
 
}
#grid121{
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
  top: 12px;
}
#heading224{
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
}
#node1{
  position: relative;
  top: 6px;
}
#chats{
  width: 24em;
  margin-left: 16px;
}
#view{
  position: relative;
  top: -9px;
}
#block{
font-size: 12px;
}
.wind-grid-charts {
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  margin-bottom: 10px;
}
.cct-copy-copy {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
#w-node-c90e3967-8beb-285d-326e-61e0c14b7c3a-0a6d0ed0 {
  grid-area: span 1 / span 1 / span 1 / span 1;

}
.heading-21 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
}
.sigwx-grid {
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  margin-bottom: 10px;
}
#sig{
  grid-row-gap: 16px;
  grid-column-gap: 16px;

  grid-auto-columns: 1fr;
  display: grid;
}
.sigwx-div {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.div-blue-copy {
  background-image: linear-gradient(#bfcdda, #bfcdda);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
#symbol{
  text-align: center;
    background-color: #00386c;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
}
#download{
  position: relative;
  top: -9px;
}
#grid455{
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
#actual{
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  display: grid;
}
.div-block-37-copy {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

#id21{
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  position: relative;
    top: 15px;
}
.heading-copy {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #bfcdda;
  border-radius: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px 0 20px;
  display: flex;
}
#bluecopy{
  background-image: linear-gradient(#bfcdda, #bfcdda);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.heading-50 {
  color: #003261;
  text-align: justify;
  font-size: 30px;
}
.div-block-477 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.div-main-t, .div-block-477 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.grid-warning {
  border-bottom: 1px #000;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 479px) {
  .heading-25 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    font-size: 12px;
    line-height: 20px;
  
  }
  .heading-copy {
   
    display: flex;
  }
  .heading-18-copy {
    color: #00386c;
  }
  .grid-warning {
    justify-content: stretch;
    align-items: stretch;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  #heading224{
    padding-left: 30px;
    padding-right: 0;
    font-size: 13px;
    position: relative;
    top: 7px;
  }
  .sub-headings-wind {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    line-height: 30px;
  }
  #fact{
    padding-left: 5px !important;
      font-weight: 600 !important;
      font-size: 13px !important;
  }
  .footerdiv {
    margin-top: -73px !important;
  padding-top: 0;
  }
  .button-2-copy {
    text-align: center;
    background-color: #00386c;
    margin-top: 20px;
    margin-left: 6px !important;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    padding-top: 6px;
  }
  .qnh-heading {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }
  .button-2-copy {
    text-align: center;
    background-color: #00386c;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
  }
  .heading-6-copy {
    text-align: center;
    margin: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 30px;
  }
  .charts-div-sub {
    align-items: flex-start;
  }
  .div-block-473 {
    flex-flow: column;
  }
  .hourly-charts-div {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  // .div-block-2 {
  //   margin-top: 3px;
  //   padding-top: 0;
  // }
  .hourly-charts-section {
    // margin-top: -91px;
    padding-left: 0;
    padding-right: 0;
  }
  .div-block-48-copy {
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
  .div-block-470 {
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .heading-copy {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: row;
    
  }
  .trends-section-copy, .departure-list-section, .import-and-export-list, .shared-flight, .edit-flight-section, .hourly-charts-section {
    // margin-top: -113px;
    position: static;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
}

@media screen and (max-width: 767px) {
  .heading-18-copy, .heading-18-copy-copy {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
  }
  .hourly-charts-div {
    margin-bottom: 20px;
  }
  .heading-21 {

    font-weight: 500;

  }
}
