<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ResetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ResetPassword</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<!-- <app-footer *ngIf="!isKeyboardVisible"></app-footer>

<div class="footerdiv" id="footerdivid1" *ngIf="!isKeyboardVisible">
  <div (click)=" login()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy" id="styleh6" style="color: #fff;
         margin-top: 10px;
         margin-bottom: 0;
         font-family: Montserrat, sans-serif;
         text-decoration: none;
         font-size: 12px;
         margin-top: 4px;">
      Login
    </h6>
  </div>
</div> -->
