<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <div id="top"></div>

  <app-package-content>
    <app-package-header>
      Advisories
    </app-package-header>

    <app-package-sub-header>
      <div class="advisoires-main-div">
        <div class="div-blue" id="filters">
          <div class="w-layout-grid grid-31">
            
            <!-- Volcano Dropdown -->
            <div>
              <div class="w-form">
                <form>
                  <div>
                    <label for="volcano-select" class="adv-text-f">Volcanos</label>
                    <select id="volcano-select" name="volcano-select"
                            class="text-field-copy w-select"
                            [(ngModel)]="filter"
                            (change)="ScrollToFilter($event, 'volcano')">
                      <option value="all" selected>All Volcanoes</option>
                      <option *ngFor="let volcano of VolcanoList" 
                              [value]="volcano.name">
                        {{ volcano.text }}
                      </option>
                    </select>
                  </div>
                </form>
              </div>
            </div>

            <!-- Cyclone Dropdown -->
            <div>
              <div class="w-form">
                <form>
                  <div>
                    <label for="cyclone-select" class="adv-text-f">Cyclone</label>
                    <select id="cyclone-select" name="cyclone-select"
                            class="text-field-copy w-select"
                            [(ngModel)]="filter2"
                            (change)="ScrollToFilter($event, 'cyclone')">
                      <option value="all" selected>All Cyclones</option>
                      <option *ngFor="let cyclone of CycloneList" 
                              [value]="cyclone.name">
                        {{ cyclone.text }}
                      </option>
                    </select>
                  </div>
                </form>
              </div>
            </div>

            <!-- SWX Dropdown (no change) -->
            <div>
              <div class="w-form">
                <form>
                  <div>
                    <label for="swx-select" class="adv-text-f">SWX</label>
                    <select id="swx-select" name="swx-select"
                            class="text-field-copy w-select">
                      <option value>Select one...</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </app-package-sub-header>

    <app-package-list-items>
      <div class="div-block-15">

        <h1 class="heading"  style="text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;">Cyclones</h1>
        <div *ngFor="let text of AdvisoriesList1" 
             class="w-layout-grid heading-text"
             style="flex-direction: column !important; margin-bottom:3px; justify-content: flex-start;">
          <div class="cct-copy-copy">
            <h1 class="heading-21" id="{{text.Id}}">{{ text.heading }}</h1>
            <h1 class="heading-21">{{ text.lastmodified | date: 'yyyy/MM/dd HH:mm' }}</h1>
          </div>
          <div class="w-layout-grid grid-18">
            <div class="div-block-16">
              <p class="paragraph-2 sigmet-text" style="white-space: pre-line; color: #000;">
                {{ text.filecontent }}
              </p>
              <hr>
            </div>
          </div>
        </div>

        <h1 class="heading" style="text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;">Volcanos</h1>
        <div *ngFor="let text of AdvisoriesList" 
             class="w-layout-grid heading-text"
             style="flex-direction: column !important; margin-bottom:3px; justify-content: flex-start;">
          <div class="cct-copy-copy">
            <h1 class="heading-21" id="{{text.Id}}">{{ text.heading }}</h1>
            <h1 class="heading-21">{{ text.lastmodified | date: 'yyyy/MM/dd HH:mm' }}</h1>
          </div>
          <div class="w-layout-grid grid-18">
            <div class="div-block-16">
              <p class="paragraph-2 sigmet-text" style="white-space: pre-line; color: #000;">
                {{ text.filecontent }}
              </p>
              <hr>
            </div>
          </div>
        </div>

      </div>
    </app-package-list-items>

  </app-package-content>

</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="forecastPageNavigation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy" style="color: #fff; margin-top: 4px; font-family: Montserrat, sans-serif; font-size: 12px;">
      Forecast
    </h6>
  </div>
</div>

<button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button>
