<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>

  <app-package-content>
    <app-package-header> Terminal Aerodrome Forecast </app-package-header>

    <app-package-sub-header>
      <div
        id="w-node-e7ec9294-4182-a125-c428-84c8c81f6e70-5aa24fea"
        class="w-layout-grid grid-cct-copy"
      >
        <div
          id="w-node-_211f6e7f-4ab3-965d-1518-9c1f84dfceec-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Date :</h1>
          <h1 class="heading-7">{{ currentDate }}</h1>
        </div>
        <div
          id="w-node-_2ef88a37-3b9e-7fec-658a-a6f84d594d57-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Time :</h1>
          <h1 class="heading-7">{{ currentTime }}</h1>
        </div>
      </div>

      <div
        id="w-node-f5bb06e8-f72c-b502-4775-b999902099d0-5aa24fea"
        class="div-block-14-copy"
      >
        <div>
          <!-- <h5 class="heading-9">Query TAF</h5> -->
          <form
            action="/search"
            class="search w-form"
            (ngSubmit)="onSearch($event)"
          >
            <input
              [(ngModel)]="searchQuery"
              class="search-input w-input"
              maxlength="256"
              name="query"
              placeholder="Search…"
              type="search"
              id="search"
              required=""
            /><input
              (click)="onSearch($event)"
              type="submit"
              class="search-button w-button"
              value="Search"
            />
          </form>
        </div>
      </div>
    </app-package-sub-header>


 <app-package-list-items>
  <div *ngFor="let province of objectKeys(groupedTAFs)" class="div-block-15" [attr.id]="province">
    <h1 class="heading-22">{{ province }}</h1>
      <div class="div-block-32">
        <div class="w-layout-grid  ccta-grid ">
    <div class="cct-copy-copy">
         <div class="button-2 w-button" (click)="toggleView(province)">
      {{ viewModes[province] === 'normal' ? 'Normal' : 'Color Coded' }}
    </div>
        
        </div>

          <div class="cct-copy" >
            <div class="button-2 w-button" (click)="ViewColorCodedStyle()">Colour / Style Index</div>
          </div>
        </div>
      </div>

   <!-- Color Coded View -->
<div *ngIf="viewModes[province] === 'color'" class="w-layout-grid heading-text">
  
<div *ngIf="viewModes[province] === 'color'" class="taf-list">
  <div *ngFor="let taf of groupedTAFs[province]" class="taf-row">
    <h1 class="heading-21" [ngStyle]="{ color: isHighlighted(taf) ? '#1111EE' : '' }">{{ taf }}</h1>
    <div class="cct-copy"  *ngIf="!taf.startsWith('No data for')">
      <div class="button-2-copy w-button" *ngIf="taf" (click)="ImageViewer(taf)">View Decoded</div>
    </div>
  </div>
</div>


</div>

<!-- Normal View -->

<div *ngIf="viewModes[province] === 'normal'" class="w-layout-grid grid-18">
  <div class="div-block-16">
    <div *ngFor="let taf of groupedTAFs[province]" class="taf-row">
      <h3 class="heading-21 nocolor" [ngStyle]="{ color: isHighlighted(taf) ? '#1111EE' : '' }">{{ taf }}</h3>

      <div class="cct-copy" *ngIf="!taf.startsWith('No data for')">
        <button
          class="button-2-copy w-button"
          *ngIf="taf"
          (click)="ImageViewer(taf)">
          View Decoded
        </button>
      </div>
    </div>
  </div>

  <div class="div-block-17"></div>
</div>
  </div>
</app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="forecastPageNavigation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Forecast
    </h6>
  </div>
</div>

<button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button>
