ion-content {
  --background: transparent;
}
ion-footer {
  margin-bottom: 54px;
}
swiper-container {
  height: 100%;
}
.rotated-icon {
  transform: rotateY(180deg);
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 8%;
  width: 100%;
}

.navigation ion-button {
  --ion-button-padding-start: 10px;
  --ion-button-padding-end: 10px;
  --ion-button-padding-top: 5px;
  --ion-button-padding-bottom: 5px;
  --ion-button-color: #fff;
  --ion-button-background-color: #007bff;
  --ion-button-shape: round;
}
ion-footer ion-button::part(native) {
  color: #fff; /* makes button text white */
}

ion-footer ion-icon {
  color: #fff; /* makes icons white */
}

