.cancel-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}
body {
  font-family: Arial, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th,
td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}
th {
  background-color: #f4f4f4;
}
@media (max-width: 600px) {
  td {
    border-bottom: 1px solid #ddd;
  }
}
.cancel-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.fileImage {
  margin: 0 auto;
  /* width: 100%; */
  /* height: 100%; */
  overflow: scroll;
}

.attachment-file {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.w-button {
  /* margin-top: 10px; */
  width: 100px !important;
}

.paragraph-3 {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.admin-div-chat {
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.25fr;
}

.adm {
  color: #00386c;
  text-align: right;
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  /* font-weight: 700; */
}

.grid-16 {
  grid-template-rows: auto;
  grid-template-columns: 0.25fr 1fr;
}

.grid-17 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.1fr;
}

.div-block-446 {
  background-color: #00386c;
  border-radius: 10px;
  padding: 5px;
}

.div-block-447 {
  margin-bottom: 10px;
}

.time-heading-copy {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}

.grid-13 {
  background-color: #ebeff3;
  background-image: linear-gradient(
      rgba(235, 239, 243, 0.86),
      rgba(235, 239, 243, 0.86)
    ),
    url("../../../../../assets/Mask-Group-12.svg");
  background-position: 0 0, 48% 53%;
  background-repeat: repeat, repeat-y;
  background-size: auto, 294px 654%;
  border-radius: 10px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  padding: 10px;
  background-attachment: fixed;

  max-height: 100vh;
  overflow-y: auto;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}
.fileImage {
  width: 100%;
  height: 100%;
  // object-fit: contain; /* Ensures the image maintains aspect ratio while filling the container */
}
.custom-popup {
  padding: 25px;
  position: relative;
  max-width: 650px;
}

.cancel-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px;
  color:#254473;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0 5px;
}

.metar-text {
  margin-bottom: 15px;
  font-size: 14px;
}

.links-grid {
  display: grid;
 
  gap: 10px 20px;
  margin-top: 10px;
}

.links-grid a {
  font-size: 14px;
  color: #0a57a3;
  text-decoration: none;
}

.links-grid a:hover {
  text-decoration: underline;
}
