<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-indicator">
    <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>
    Loading...
  </div>

  <section class="ob-metar-histor" style="margin-top: 240px !important">
    <div class="cloud-cover">
      <h1 class="heading6">Graphical SIGMET/AIRMET</h1>

      <div class="div-block-15">
        <div>
          <div class="scroll small-m">
            <div class="rows-wrap">
              <div data-delay="4000" data-animation="slide" class="slider-2 w-slider" data-autoplay="false"
                data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
                data-nav-spacing="3" data-duration="500" data-infinite="true">
                <div class="w-slider-mask prev">
                  <img src="../../assets/graphicSigmentAirmet.png" loading="lazy" width="1216" alt="" class="image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="">
    <img src="../../assets/Path-3447.svg" loading="lazy" width="1216" alt="" class="image" />

    <div class="footerdiv" id="footerdivid">
      <a (click)="NavigateToInternational()" class="link-block-5 w-inline-block">
        <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" id="styleh6">
          International</h6>
      </a>
    </div>
  </div>
</ion-footer>