.list-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.list-grid-list {
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
}