<ion-content>

  <app-loading *ngIf="loading"></app-loading>

  <app-auth-content>
    <app-auth-logo *ngIf="!isKeyboardVisible">
      <img src="/assets/Mask-Group-33x.png" loading="lazy" width="212" alt="" class="mobile-images" />
    </app-auth-logo>

    <div [ngClass]="{'keyboardopen': isKeyboardVisible}"></div>

    <app-auth-form>
      <div class="forgot-password">
        <h2 class="login">
          Forgot Password
        </h2>

        <div class="w-form">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="email-form" name="email-form" data-name="Email Form"
            method="get" class="form" data-wf-page-id="6595547155ddf699b86b8307"
            data-wf-element-id="e41eeb5c-9e38-416f-f59b-0df062454cc7">
            <p class="paragraph">
              Enter your account's email address, and we'll send you password reset instructions.
            </p>
            <label for="field" class="field-label">Email Address</label>
            <input class="forgot-password-field w-input" maxlength="256" name="field" data-name="Field"
              placeholder="Enter your Email address" type="text" id="field" required="" formControlName="Email" />
            <div style="color: red" *ngIf="
            userForm.get('Email')?.hasError('invalidEmail') &&
            !userForm.get('Email')?.hasError('required') &&
            userForm.get('Email')?.touched
          " class="error-message">
              Invalid email address. Please enter a valid email.
            </div>

            <input type="submit" data-wait="Please wait..." class="subscribe w-button" value="Submit" />

            <div style="color: red" *ngIf="errorMgs">{{ errorMgs }}</div>

          </form>
        </div>
      </div>
    </app-auth-form>
  </app-auth-content>
</ion-content>

<app-footer *ngIf="!isKeyboardVisible"></app-footer>

<div class="footerdiv" id="footerdivid1" *ngIf="!isKeyboardVisible">
  <div (click)=" login()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy" id="styleh6" style="color: #fff;
         margin-top: 10px;
         margin-bottom: 0;
         font-family: Montserrat, sans-serif;
         text-decoration: none;
         font-size: 12px;
         margin-top: 4px;">
      Login
    </h6>
  </div>
</div>