<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <app-package-content>

    <app-package-header>
      Colour Coded Warnings
    </app-package-header>

    <app-package-list-items>

      <h1 class="heading-29" id="hed29">
        Compiled at Aviation Weather Centre, O.R.T. Int Aiport
      </h1>

    </app-package-list-items>

  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)=" forecastPageNavigation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6 class="heading-10-copy" id="styleh6" style="color: #fff;
         margin-top: 10px;
         margin-bottom: 0;
         font-family: Montserrat, sans-serif;
         text-decoration: none;
         font-size: 12px;
         margin-top: 4px;">
      Forecast
    </h6>
  </div>
</div>

<!-- <button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button> -->