<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header> Hourly Charts </app-package-header>

    <app-package-sub-header> </app-package-sub-header>

    <app-package-list-items>
      <div class="div-block-2">
        <img
          src="images/Path-3452.svg"
          loading="lazy"
          width="1216"
          alt=""
          class="image"
        />
      </div>

      <div>
        <div *ngFor="let chart of chartData" class="div-block-473">
          <div class="charts-div-sub">
            <h4 class="heading-6-copy" style="width: 186px !important">
              <strong>{{ chart.heading }}</strong>
            </h4>
            <div
              class="button-2-copy w-button"
              style="position: relative; left: -8px"
              (click)="openImageViewer(chart, 'Most Recent')"
            >
              Most Recent
            </div>
          </div>

          <div class="" id="grid">
            <div class="hourly-charts-div">
              <div *ngFor="let timeSet of timeSets" class="div-block-470">
                <h4
                  *ngFor="let time of timeSet"
                  class="qnh-heading"
                  (click)="openImageViewer(chart, time)"
                >
                  {{ time }}
                </h4>
              </div>
            </div>
            <div class="div-block-470">
              <!-- <p>{{ chart.information }}</p> -->
              <img
                *ngIf="chart.imageUrl"
                [src]="chart.imageUrl"
                alt="{{ chart.heading }}"
              />
              <ng-container *ngIf="!chart.imageUrl">
                <!-- <p>No image available</p> -->
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToDomestic()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Domestic
    </h6>
  </div>
</div>

