.service-heading {
  // position: sticky;
  // margin-bottom: 30px;
  // z-index: 1000;
  // background-color: #fff;
  // padding: 10px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  left: 0;
    position: fixed;
    /* margin-bottom: 30px; */
    /* z-index: 10000; */
    width: 100%;
    /* display: flex; */
    /* margin: 0; */
    width: 100%;
    background-color: white;
    /* height: 79px; */
    top: 0;
    right: 0;
    padding-top: 240px;
}

.heading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .service-heading {
    padding-top: 200px;
  }
}

@media screen and (max-width: 767px) {
  .service-heading {
    padding-top: 160px;
  }
}

@media screen and (max-width: 479px) {
  .service-heading {
    padding-top: 120px;
  }
}