.service-heading {
  left: 0;
  position: fixed;
  width: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  right: 0;
  padding-top: 240px;
}

.heading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .service-heading {
    padding-top: 200px;
  }
}

@media screen and (max-width: 767px) {
  .service-heading {
    padding-top: 160px;
  }
}

@media screen and (max-width: 479px) {
  .service-heading {
    padding-top: 120px;
  }
}