<ion-content>
  <section class="wafs">
    <div *ngIf="isLoading == true" class="loading-indicator">
      <ion-spinner *ngIf="isLoading == true" name="bubbles"></ion-spinner
      >Loading...
    </div>
    <div class="wafs-main-div">
      <h1 class="heading-6">WAFS Harmonized Grid Products</h1>
      <div class="scrolltaffA">
        <!--Turbulence severity-->
        <div class="w-layout-grid wafs-grid">
          <h1 class="heading-22">Turbulence severity</h1>
          <div class="w-layout-grid grid-20" id="grid20">
            <div class="div-block-35">
              <div class="w-layout-grid grid-21-copy">
                <div class="div-block-36">
                  <h4 class="heading-24">0600</h4>
                </div>
                <div class="div-block-36">
                  <h4 class="heading-24">0000</h4>
                </div>
                <div class="div-block-36">
                  <h4 class="heading-24">1800</h4>
                </div>
              </div>
            </div>
            <div class="w-layout-grid grid-22-copy">
              <div
                class="div-block-37"
                *ngFor="let time of ['0600', '0000', '1800']"
              >
                <div *ngFor="let item of WAF2">
                  <h4
                    class="heading-25"
                    *ngIf="getTimeSubstring(item.filename) === time"
                    (click)="openImageViewer(item)"
                  >
                    {{ displayHeading(item.filename) }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Icing severity-->
        <div class="w-layout-grid wafs-grid">
          <h1 class="heading-22">Icing severity</h1>

          <div class="w-layout-grid grid-20" id="grid20">
            <div
              id="w-node-_0f4cf57b-54fd-cef3-5784-79020a3fc876-a17d1408"
              class="div-block-35"
            >
              <div
                id="w-node-_1290a973-af24-2a59-897b-d7d3e1d83441-a17d1408"
                class="w-layout-grid grid-21-copy"
              >
                <div
                  id="w-node-_030b0f65-b194-ad25-8a08-a35ff57158e2-a17d1408"
                  class="div-block-36"
                >
                  <h4 class="heading-24">0600</h4>
                </div>
                <div
                  id="w-node-ed37abd8-4ca0-87f1-cd6a-4e3c5695df38-a17d1408"
                  class="div-block-36"
                >
                  <h4 class="heading-24">0000</h4>
                </div>
                <div
                  id="w-node-_0da84331-7add-d63a-dc29-b62efb53d455-a17d1408"
                  class="div-block-36"
                >
                  <h4 class="heading-24">1800</h4>
                </div>
              </div>
            </div>
            <div class="w-layout-grid grid-22-copy">
              <div
                class="div-block-37"
                *ngFor="let time of ['0600', '0000', '1800']"
              >
                <div *ngFor="let item of WAF3">
                  <h4
                    class="heading-25"
                    *ngIf="getTimeSubstring(item.filename) === time"
                    (click)="openImageViewer(item)"
                  >
                    {{ displayHeading(item.filename) }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--CB Coverage-->
        
        <div class="w-layout-grid wafs-grid">
          <h1 class="heading-22">CB Coverage</h1>
          <div class="w-layout-grid grid-20" id="grid20">
            <div
              id="w-node-_0f4cf57b-54fd-cef3-5784-79020a3fc876-a17d1408"
              class="div-block-35"
            >
              <div
                id="w-node-_1290a973-af24-2a59-897b-d7d3e1d83441-a17d1408"
                class="w-layout-grid grid-21-copy"
              >
                <div
                  id="w-node-_030b0f65-b194-ad25-8a08-a35ff57158e2-a17d1408"
                  class="div-block-36"
                >
                  <h4 class="heading-24">0600</h4>
                </div>
                <div
                  id="w-node-ed37abd8-4ca0-87f1-cd6a-4e3c5695df38-a17d1408"
                  class="div-block-36"
                >
                  <h4 class="heading-24">0000</h4>
                </div>
                <div
                  id="w-node-_0da84331-7add-d63a-dc29-b62efb53d455-a17d1408"
                  class="div-block-36"
                >
                  <h4 class="heading-24">1800</h4>
                </div>
              </div>
            </div>
            <div class="w-layout-grid grid-22-copy">
              <div
                class="div-block-37"
                *ngFor="let time of ['0600', '0000', '1800']"
              >
                <div *ngFor="let item of WAF1">
                  <h4
                    class="heading-25"
                    *ngIf="getTimeSubstring(item.filename) === time"
                    (click)="openImageViewer(item)"
                  >
                    {{ displayHeading(item.filename) }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottomdiv" style="position: fixed; margin-top: 169%">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt
        class="image"
      />

      <div class="footerdiv" id="footerdivid">
        <a
          (click)="forecastPage()"
          class="link-block-5 w-inline-block"
          style="position: relative; top: -11px"
          ><img src="../../assets/Group-4522.svg" loading="lazy" alt />
          <h6 class="heading-10-copy" id="styleh6">Forecast</h6></a
        >
      </div>
    </div>
  </section>
</ion-content>
