<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <app-package-content>
    <app-package-header> Metar Recent TAFs </app-package-header>

    <app-package-sub-header>
      <div
        id="w-node-e7ec9294-4182-a125-c428-84c8c81f6e70-5aa24fea"
        class="w-layout-grid grid-cct-copy"
      >
        <div
          id="w-node-_211f6e7f-4ab3-965d-1518-9c1f84dfceec-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Date:</h1>
          <h1 class="heading-7">{{ currentDate }}</h1>
        </div>
        <div
          id="w-node-_2ef88a37-3b9e-7fec-658a-a6f84d594d57-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Time:</h1>
          <h1 class="heading-7">{{ currentTime }}</h1>
        </div>
      </div>

      <div class="w-form">
        <form
          id="email-form-3"
          name="email-form-3"
          data-name="Email Form 3"
          method="get"
          class="stacked-form"
          data-wf-page-id="65c0c298a377a85c9377a649"
          data-wf-element-id="f1b8684b-0b39-7e93-2135-f1650deadc75"
        >
          <label for="field-2" class="field-label">Template Name</label>
          <input
            class="text-field"
            maxlength="256"
            name="field-2"
            data-name="Field 2"
            placeholder=""
            type="text"
            required=""
          />
        </form>
        <form
          id="email-form-3"
          name="email-form-3"
          data-name="Email Form 3"
          method="get"
          class="stacked-form"
          data-wf-page-id="65c0c298a377a85c9377a649"
          data-wf-element-id="f1b8684b-0b39-7e93-2135-f1650deadc75"
        >
          <!-- Time Dropdown -->
          <div class="dropdown-item">
            <!-- <label for="" class="field-label">Time</label> -->
            <div class="dropdown-container">
              <div
                data-hover="false"
                data-delay="0"
                class="text-field-blue w-dropdown"
                id="selct"
                (click)="forecastDropdown('dropdown1')"
              >
                <div class="w-dropdown-toggle">
                  <div class="dropdown-header">
                    <div class="text-block">{{ selectedOption1 }}</div>
                    <ion-icon
                      name="chevron-down-outline"
                      id="dropdown-icon"
                      [class.rotate]="isDropdownOpen1"
                    ></ion-icon>
                  </div>
                </div>
                <nav class="dropdown-list1" *ngIf="isDropdownOpen1">
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('Total Cloud', 'dropdown1', $event)"
                    >Total Cloud</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('Medium level', 'dropdown1', $event)"
                    >Medium level</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('Low level', 'dropdown1', $event)"
                    >Low level</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('High Level', 'dropdown1', $event)"
                    >High Level</a
                  >
                </nav>
              </div>
            </div>
          </div>
        </form>
        <form
          action="/search"
          class="search w-form"
          (submit)="onSearch($event)"
        >
          <input
            class="search-input w-input"
            maxlength="256"
            name="query"
            placeholder="Search…"
            type="search"
            id="search"
            [(ngModel)]="searchQuery"
            (ngModelChange)="filterTafs()"
            required=""
          />
          <input
            (click)="filterTafs()"
            type="submit"
            class="search-button w-button"
            value="Search"
          />
        </form>
      </div>

      <div class="w-form">
        <form
          id="email-form-3"
          name="email-form-3"
          data-name="Email Form 3"
          method="get"
          class="stacked-form"
          data-wf-page-id="65c0c298a377a85c9377a649"
          data-wf-element-id="f1b8684b-0b39-7e93-2135-f1650deadc75"
        >
          <!-- Time Dropdown -->
          <div class="dropdown-item">
            <label for="" class="field-label">Time</label>
            <div class="dropdown-container">
              <div
                data-hover="false"
                data-delay="0"
                class="text-field-blue w-dropdown"
                id="selct"
                (click)="forecastDropdown('dropdown2')"
              >
                <div class="w-dropdown-toggle">
                  <div class="dropdown-header">
                    <div class="text-block">{{ selectedOption2 }}</div>
                    <ion-icon
                      name="chevron-down-outline"
                      id="dropdown-icon"
                      [class.rotate]="isDropdownOpen2"
                    ></ion-icon>
                  </div>
                </div>
                <nav class="dropdown-list1" *ngIf="isDropdownOpen2">
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('Total Cloud', 'dropdown2', $event)"
                    >Total Cloud</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('Medium level', 'dropdown2', $event)"
                    >Medium level</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('Low level', 'dropdown2', $event)"
                    >Low level</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('High Level', 'dropdown2', $event)"
                    >High Level</a
                  >
                </nav>
              </div>
            </div>
          </div>

          <!-- Refresh Dropdown -->
          <div class="dropdown-item">
            <label for="" class="field-label">Refresh This page every</label>
            <div class="dropdown-container">
              <div
                data-hover="false"
                data-delay="0"
                class="text-field-blue w-dropdown"
                id="selct"
                (click)="forecastDropdown('dropdown3')"
              >
                <div class="w-dropdown-toggle">
                  <div class="dropdown-header">
                    <div class="text-block">{{ selectedOption3 }}</div>
                    <ion-icon
                      name="chevron-down-outline"
                      id="dropdown-icon"
                      [class.rotate]="isDropdownOpen3"
                    ></ion-icon>
                  </div>
                </div>
                <nav class="dropdown-list1" *ngIf="isDropdownOpen3">
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('1 min', 'dropdown3', $event)"
                    >1 min</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('2 min', 'dropdown3', $event)"
                    >2 Min</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('3 min', 'dropdown3', $event)"
                    >3 min</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('4 min', 'dropdown3', $event)"
                    >4 min</a
                  >
                  <a
                    class="w-dropdown-link"
                    (click)="selectOption('5 min', 'dropdown3', $event)"
                    >5 min</a
                  >
                </nav>
              </div>
            </div>
          </div>
        </form>
      </div>
    </app-package-sub-header>

    <app-package-list-items>
      <div class="div-block-15" *ngFor="let taf of filteredTafs">
        <!-- <h1 class="heading-22">{{ taf.foldername }} - {{ taf.filename }}</h1> -->
        <div class="div-block-32">
          <div class="w-layout-grid ccta-grid">
            <div
              id="w-node-_2138101a-874f-ccf2-cab5-adfa22f062c7-9377a649"
              class="cct-copy-copy"
            >
              <div class="button w-button">Normal</div>
            </div>
            <div
              id="w-node-_2138101a-874f-ccf2-cab5-adfa22f062ca-9377a649"
              class="cct-copy"
            >
              <div class="button-2 w-button">Colour / Style Index</div>
            </div>
          </div>
        </div>

        <div class="div-block-34">
          <!-- <h1 class="heading-23">Last Modified: {{ taf.lastmodified }}</h1> -->
        </div>
        <div class="div-block-45">
          <div class="w-layout-grid heading-text">
            <div
              id="w-node-_2138101a-874f-ccf2-cab5-adfa22f062cf-9377a649"
              class="cct-copy-copy"
            >
              <h1 class="heading-21" style="position: relative; top: 6px">
                {{ taf.filecontent }}
              </h1>
            </div>
            <div
              id="w-node-_2138101a-874f-ccf2-cab5-adfa22f062d2-9377a649"
              class="cct-copy"
            >
              <div class="button-2-copy w-button" (click)="ImageViewer(taf)">
                View Decoded
              </div>
            </div>
          </div>
        </div>
        <div></div>
        <div></div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="forecastPageNavigation()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Forecast
    </h6>
  </div>
</div>

<button (click)="ScrollToTop('top')" id="btntotop" title="Go to top">
  Top
</button>
