.image-footer {
    height: auto;
    max-height: none;
    margin-bottom: -11px;
}
  
.footer-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
   .blue-block {
  background-color: #0c2649; 
  width: 100%;
  height: 30%; 
  position: absolute;
    top: 77%;
  left: 0;

}
@media screen and (max-width: 991px) {
    .image-footer {
               margin-bottom: 38px;
    }

}

@media screen and (max-width: 767px) {
    .image-footer {
        margin-bottom: -71px;
    }
      .image-footer2{
    margin-bottom: -166px;
    }
}

@media screen and (max-width: 479px) {
    .image-footer {
    margin-bottom: 24px;
    }
    .image-footer2{
    margin-bottom: -166px;
    }
   .blue-block {
  background-color: #0c2649; 
  width: 100%;
  height: 30%; 
  position: absolute;
    top: 77%;
  left: 0;

}
}